Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

chore(deps): bump Rust and Python dependencies
  Cargo.lock
  Cargo.toml
  uv.lock
Due: none

deploy: e04946350f5efc120188d812d26f16862cd8af19
  changelog/index.html
  search/search_index.json
Due: none

deploy: 15c8716571e815a61d447d91460add300e945bab
  changelog/index.html
  search/search_index.json
Due: none

deploy: f88cb67427b7e1c9e86c8545deba9930d0a794c3
  changelog/index.html
  search/search_index.json
Due: none

deploy: ab266554985f6220051ca4cde81c0a158962c073
  changelog/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/testing/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 15edc326c922ccb1a604cea18466768dd0e22ccb
  changelog/index.html
  search/search_index.json
Due: none

chore(deps): bump cargo, python, mise and GitHub Actions to latest
  .github/workflows/_build.yml
  .github/workflows/_test.yml
  .github/workflows/_test_distribution.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  Cargo.lock
  mise.lock
  mise.toml
  pyproject.toml
  uv.lock
Due: none

deploy: 010a01e8e6d3757ef8036570cd8d6352a16ec3bf
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 7d15242141a05b2a55ec43aabbada81f8ae4955f
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 56a6a6a9e63509f5147c15557a044d550c988f91
  changelog/index.html
  search/search_index.json
Due: none

deploy: 4353e63a43258b2d5b38d03f09dae5368b1111e3
  changelog/index.html
  search/search_index.json
Due: none

docs(specs): add context-local helpers design
  specs/2026-09-21-context-local-helpers-design.md
Due: none

docs(specs): address adversarial review of context-local helpers spec
  specs/2026-09-21-context-local-helpers-design.md
Due: none

docs(specs): add context-local helpers implementation plan
  specs/2026-09-21-context-local-helpers-plan.md
Due: none

feat(toolr-py): add current_context() accessor and NoCurrentContextError
  crates/toolr-py/python/toolr/_context.py
  crates/toolr-py/python/toolr/_exc.py
  tests/context/test_current_context.py
Due: none

feat(toolr-py): add toolr.testing.set_current_context
  crates/toolr-py/python/toolr/_context.pyi
  crates/toolr-py/python/toolr/testing/__init__.py
  crates/toolr-py/python/toolr/testing/_current_context.py
  skills/toolr-command-authoring/references/testing.md
  tests/testing/test_current_context.py
Due: none

feat(toolr-py): set current_context() before dispatching a command
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_current_context.py
  tests/runner/test_path_hygiene.py
  tests/runner/test_runner_coverage.py
Due: none

feat(toolr-py): export toolr.current_context from the top-level package
  crates/toolr-py/python/toolr/__init__.py
  skills/toolr-command-authoring/references/commands.md
  tests/context/test_current_context.py
Due: none

docs(toolr-command-authoring): document current_context() as a helper option
  skills/toolr-command-authoring/SKILL.md
Due: none

docs(changelog): queue release note for current_context()
  UNRELEASED.md
Due: none

docs(toolr-py): stop citing internal spec path in current_context() docstring
  crates/toolr-py/python/toolr/_context.py
  skills/toolr-command-authoring/references/commands.md
Due: none

docs(toolr-command-authoring): note module-scope caveat for current_context()
  skills/toolr-command-authoring/SKILL.md
Due: none

docs(reference): add current_context to the mkdocs site
  docs/reference/current_context.md
  docs/reference/index.md
  docs/writing-commands/context.md
  mkdocs.yml
Due: update-doc-stubs

chore(specs): archive context-local-helpers design and plan
  specs/archive/2026/2026-09-21-context-local-helpers-design.md
  specs/archive/2026/2026-09-21-context-local-helpers-plan.md
Due: none

deploy: 3c98bcda199c7c65b2b8d8c6c03b0ea9fc457eb5
  404.html
  changelog/index.html
  cli/index.html
  concepts/index.html
  contributing/index.html
  index.html
  installation/index.html
  installation/mise/index.html
  internals/diagnostics/index.html
  internals/index.html
  internals/manifest/index.html
  internals/pre-commit/index.html
  migration/index.html
  objects.inv
  project-config/index.html
  quickstart/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/current_context/index.html
  reference/index.html
  reference/testing/index.html
  search/search_index.json
  sitemap.xml.gz
  skills/index.html
  third-party/index.html
  writing-commands/across-files/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/context/index.html
  writing-commands/docstrings/index.html
  writing-commands/external-sources/index.html
  writing-commands/groups/index.html
  writing-commands/index.html
  writing-commands/known-bugs/index.html
  writing-commands/nesting/index.html
  writing-commands/testing/index.html
Due: none

docs(specs): add self-contained agent skills design
  specs/2026-09-27-skills-self-contained-design.md
Due: none

docs(specs): add self-contained agent skills implementation plan
  specs/2026-09-27-skills-self-contained-plan.md
Due: none

feat(xtask): add named docs-section extractor for skill references
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/mod.rs
Due: cargo-check, clippy

fix(xtask): reject or flatten docs constructs the section extractor passed through
  crates/xtask/src/build_skill_refs/docs_section.rs
Due: cargo-check, clippy

fix(xtask): map paragraph offsets to each line's own number in docs extractor errors
  crates/xtask/src/build_skill_refs/docs_section.rs
Due: cargo-check, clippy

feat(skills): ship argument shapes, prek hook and plugin example inside the skills
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/sections.rs
  crates/xtask/tests/coverage.rs
  crates/xtask/tests/idempotency.rs
  docs/third-party.md
  skills/toolr-ci-setup/SKILL.md
  skills/toolr-ci-setup/references/prek-hook.md
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/references/arguments.md
  skills/toolr-command-packaging/SKILL.md
  skills/toolr-command-packaging/examples/pyproject.toml
  skills/toolr-command-packaging/references/prek-hook.md
Due: update-doc-stubs, cargo-check, clippy

fix(xtask): give the supported-types table an output flavour for pipe-bearing annotations
  .github/workflows/_test.yml
  .pre-commit-config.yaml
  crates/xtask/src/build_skill_refs/types.rs
  docs/writing-commands/files/supported-types.md
Due: update-doc-stubs, cargo-check, clippy

fix(parser): keep Markdown in catalogue cells verbatim
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

fix(parser): add TypeDoc.note and an ordinal guard against missed catalogue rows
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

feat(parser): add supported-type and path-constraint catalogues
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/path_constraints.rs
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

docs(skills): inline facts the skills relied on docs for; reference sibling skills by name
  skills/toolr-ci-setup/SKILL.md
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-packaging/SKILL.md
Due: none

feat(xtask): generate supported-type and path-constraint tables from code
  .github/workflows/_test.yml
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/types.rs
  crates/xtask/tests/coverage.rs
  crates/xtask/tests/idempotency.rs
  docs/writing-commands/arguments.md
  docs/writing-commands/files/path-constraints.md
  docs/writing-commands/files/supported-types.md
  mkdocs.yml
  skills/toolr-command-authoring/references/types.md
Due: update-doc-stubs, cargo-check, clippy

refactor(parser): drop ordinal guard from type catalogue
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

fix(xtask): support named-section includes and drop dangling out-of-section pointers
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/tests/coverage.rs
  docs/writing-commands/arguments.md
  docs/writing-commands/files/docstrings-example.py
  skills/toolr-command-authoring/references/arguments.md
Due: update-doc-stubs, cargo-check, clippy

feat(xtask): fail build-skill-refs when a skill reaches outside its directory
  crates/xtask/src/build_skill_refs/authoring.rs
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  crates/xtask/src/build_skill_refs/sections.rs
  crates/xtask/src/build_skill_refs/self_contained.rs
  skills/toolr-ci-setup/references/prek-hook.md
  skills/toolr-command-authoring/references/arguments.md
  skills/toolr-command-authoring/references/docstrings.md
  skills/toolr-command-packaging/references/packaging.md
  skills/toolr-command-packaging/references/prek-hook.md
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
