Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

deploy: 3171f90742b65370f4274159102d71bc35f8ab48
  changelog/index.html
  search/search_index.json
Due: none

fix(deps): hold get-size2 at 0.10.1 until ruff moves to compact_str 0.10
  Cargo.lock
Due: none

deploy: 452fb1b5c2e9817cbeb7bced64af84d1b9ad3db1
  changelog/index.html
  search/search_index.json
Due: none

deploy: ea6e8dc8ddc9139c0dcd61fae7d0029066062a7f
  changelog/index.html
  search/search_index.json
Due: none

deploy: d6af63e3b2b8a61878a810bd9b6ce763be4eb9c0
  changelog/index.html
  search/search_index.json
Due: none

deploy: 692636338c3ad5d5293b8d52c19ec3651e779145
  changelog/index.html
  search/search_index.json
Due: none

deploy: e848b9dbd3985a9ecdb327933a99f27c99f30cb6
  changelog/index.html
  search/search_index.json
Due: none

deploy: 48b3b1e9bebd9481856afd9f4a66c782d50d7f94
  changelog/index.html
  search/search_index.json
Due: none

deploy: 9f461658b09526b99dcff892596f9aeedb043f60
  changelog/index.html
  search/search_index.json
Due: none

deploy: 1f6ac84d7e53ef8d0bdee3ea066c35e80b6a4861
  changelog/index.html
  search/search_index.json
Due: none

deploy: 7c164b60b195292fd48af3ea194560854625d461
  changelog/index.html
  search/search_index.json
Due: none

deploy: b8a06587c855682a34019f3f9bac259ebf8fcb42
  changelog/index.html
  search/search_index.json
Due: none

deploy: 9ca57bc6588fbc3ac4d1ed27025ed8193ce1d917
  changelog/index.html
  search/search_index.json
Due: none

chore(deps): update Cargo.lock for ruff crates v0.16.0
  Cargo.lock
Due: none

deploy: cd50f02b36bebb960c532b62ddba7aa65158834f
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: abb15b8035a84f0787a05121709cacd599d03293
  changelog/index.html
  search/search_index.json
Due: none

fix(cli): show help when a namespace is invoked with no subcommand
  crates/toolr/src/cli.rs
  crates/toolr/tests/dispatch_coverage.rs
Due: cargo-check, clippy

deploy: f142c58276c566c104d94b7acb0e208de0fd6075
  changelog/index.html
  search/search_index.json
Due: none

fix(cli): pin bin_name so help output is platform-stable
  crates/toolr/src/cli.rs
  docs/quickstart-files/example-help.txt
Due: cargo-check, clippy

fix(precommit): pick newest of target/{release,debug}/toolr, not release-first
  tools/precommit/docs.py
Due: none

deploy: 278e780b02f46681d9bf33ec2b4c9e54e003e93d
  changelog/index.html
  quickstart-files/example-help.txt
  quickstart/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(lint): ignore flake8-copyright rule, not required under Apache-2.0
  pyproject.toml
Due: none

deploy: 7466097d6ff131635a4c12529e8e0ae761f41ae6
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

feat(testing): ship toolr.testing pytest plugin + make_context, fix doc drift
  crates/toolr-py/pyproject.toml
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr-py/python/toolr/testing/__init__.py
  crates/toolr-py/python/toolr/testing/_discovery.py
  crates/toolr-py/python/toolr/testing/_make_context.py
  crates/toolr-py/python/toolr/testing/_pytest_plugin.py
  crates/toolr-py/python/toolr/utils/_console.py
  crates/xtask/src/build_skill_refs/authoring.rs
  docs/writing-commands/context.md
  docs/writing-commands/testing.md
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/references/commands.md
  specs/2026-08-02-agent-feedback-skill-fixes-design.md
  specs/2026-08-02-agent-feedback-skill-fixes-plan.md
Due: update-doc-stubs, cargo-check, clippy

test(testing): cover make_context and the pytest-plugin repo-root discovery
  tests/test_make_context.py
  tests/test_pytest_plugin.py
Due: none

chore(specs): archive agent-feedback-skill-fixes design/plan
  specs/2026-08-02-agent-feedback-skill-fixes-plan.md
  specs/archive/2026/2026-08-02-agent-feedback-skill-fixes-design.md
  specs/archive/2026/2026-08-02-agent-feedback-skill-fixes-plan.md
Due: none

fix(testing): repair CI failures from testing package split
  tests/distribution/test_toolr_py_wheel.py
  tests/test_pytest_plugin.py
Due: none

test: close patch-coverage gaps flagged on b8655472's new code
  crates/xtask/src/build_skill_refs/authoring.rs
  tests/conftest.py
  tests/test_pytest_plugin.py
Due: cargo-check, clippy

deploy: 1f4b8f23577347fa39e42dbe854a31f29fef8d38
  changelog/index.html
  objects.inv
  reference/command/index.html
  reference/command_group/index.html
  reference/testing/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/context/index.html
  writing-commands/testing/index.html
Due: none

deploy: e018d53dc63f0196a06f0431b661a57acfeb946d
  changelog/index.html
  search/search_index.json
Due: none

deploy: 55f9610d6f1746b16403d1e0737dd1807db577ba
  changelog/index.html
  search/search_index.json
Due: none

fix(cli): don't apply unresolvable <expr> default sentinel as a real clap default
  crates/toolr/src/cli.rs
Due: cargo-check, clippy

docs(skills): flag that the default's shape doesn't drive coercion
  skills/toolr-command-authoring/SKILL.md
Due: none

fix(argparse): classify nargs="+"/"*" as repeated/var-positional
  UNRELEASED.md
  crates/toolr-core/src/argparse/scan.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr/src/cli.rs
Due: cargo-check, clippy

deploy: 322d78ac2f93708b90bf568f58ceccba06eb9c2e
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 9d2a7e9b6ef22bb2c4b9fa5d7c97d3170901ec1e
  changelog/index.html
  search/search_index.json
Due: none

fix(argparse): keep every flag spelling as an alias, not just the longest
  UNRELEASED.md
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

fix(cache): stop test leak inflating orphan count, fix misleading orphan size, correct worktree-sharing doc lie
  UNRELEASED.md
  crates/toolr-core/src/cache/hint.rs
  crates/toolr-core/src/cache/tests.rs
  docs/internals/cache.md
  tests/distribution/test_example_plugin_contract.py
Due: update-doc-stubs, cargo-check, clippy

deploy: 9941c85eb4603ce1523c61a3f4c5a91d3b12b46b
  changelog/index.html
  search/search_index.json
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
