Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

feat(xtask): generate authoring skill references from toolr-py source
  Cargo.lock
  Cargo.toml
  crates/toolr-core/src/lib.rs
  crates/xtask/Cargo.toml
  crates/xtask/src/build_skill_refs/authoring.rs
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  skills/toolr-command-authoring/references/commands.md
  skills/toolr-command-authoring/references/docstrings.md
Due: cargo-check, clippy

test(skills): snapshot manifest over the authoring skill's examples tree
  crates/toolr-core/tests/skill_authoring_examples.rs
  pyproject.toml
  skills/toolr-command-authoring/examples/toolr-manifest.json
  skills/toolr-command-authoring/examples/tools/db.py
  skills/toolr-command-authoring/examples/tools/greet.py
Due: cargo-check, clippy

feat(xtask): generate packaging skill references from toolr-core types
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/third_party/model.rs
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  skills/toolr-command-packaging/references/packaging.md
Due: cargo-check, clippy

docs(skills): add docs landing page, queue release notes, archive designs
  UNRELEASED.md
  docs/skills.md
  mkdocs.yml
  specs/archive/2026/2026-05-21-toolr-command-authoring-skill-design.md
  specs/archive/2026/2026-05-21-toolr-command-packaging-skill-design.md
  specs/archive/2026/2026-05-26-toolr-skills-plan.md
Due: update-doc-stubs

test(skills): refresh authoring-skill manifest snapshot after ruff reformat
  skills/toolr-command-authoring/examples/toolr-manifest.json
Due: none

fix(lint): exclude generated skills/*/references from rumdl
  .rumdl.toml
Due: none

deploy: 4c814b76514c73ef43cd2b7f0795f5b8e7e7356b
  changelog/index.html
  cli/index.html
  contributing/index.html
  index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/testing/index.html
  search/search_index.json
  writing-commands/testing/index.html
Due: none

test(xtask): use assert_cmd::cargo_bin so subprocess coverage counts
  Cargo.lock
  crates/xtask/Cargo.toml
  crates/xtask/tests/idempotency.rs
Due: cargo-check, clippy

build(xtask): collapse to single debug alias + prek hook regenerates
  .cargo/config.toml
  .pre-commit-config.yaml
Due: none

feat(xtask): break generator prose at sentence boundaries
  crates/xtask/src/build_skill_refs/authoring.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  skills/toolr-command-authoring/references/docstrings.md
  skills/toolr-command-packaging/references/packaging.md
Due: cargo-check, clippy

fix(skill-refs): LF line endings on Windows + show diff in CI on drift
  .gitattributes
  .github/workflows/_test.yml
Due: none

ci(_test): regen-and-diff the example-plugin manifest gate too
  .github/workflows/_test.yml
Due: none

docs(skills): link agent skills from README and docs landing
  README.md
  docs/index.md
  docs/skills.md
Due: update-doc-stubs

deploy: ecedc5398d9b9ff4f31cdb741f2cd0044f2899b0
  404.html
  changelog/index.html
  cli/index.html
  concepts/index.html
  contributing/index.html
  index.html
  installation/index.html
  installation/mise/index.html
  internals/cache/index.html
  internals/diagnostics/index.html
  internals/index.html
  internals/manifest/index.html
  migration/index.html
  project-config/index.html
  quickstart/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/index.html
  reference/testing/index.html
  search/search_index.json
  sitemap.xml.gz
  skills/index.html
  third-party/index.html
  writing-commands/across-files/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/context/index.html
  writing-commands/docstrings/index.html
  writing-commands/groups/index.html
  writing-commands/index.html
  writing-commands/known-bugs/index.html
  writing-commands/nesting/index.html
  writing-commands/testing/index.html
Due: none

fix(skill-refs): LF line endings on skill example .py files
  .gitattributes
Due: none

fix(mise): correct plugin URL syntax + bump MISE_VERSION
  .github/env
  .github/workflows/install-smoke.yml
  README.md
  UNRELEASED.md
  docs/installation/index.md
  docs/installation/mise.md
  docs/quickstart.md
  installation/mise/README.md
Due: update-doc-stubs

deploy: 86c420cb0defe82a5fbd6b021069456be08f7cdb
  changelog/index.html
  index.html
  search/search_index.json
  skills/index.html
Due: none

specs: add design for toolr-ci-setup agent skill
  specs/2026-05-27-toolr-ci-setup-skill-design.md
Due: none

specs: add implementation plan for toolr-ci-setup skill
  specs/2026-05-27-toolr-ci-setup-plan.md
Due: none

xtask: add serde_yml + indexmap for upcoming action.yml generator
  Cargo.lock
  crates/xtask/Cargo.toml
Due: none

xtask: add ci_setup generator (renders action.md from action.yml)
  crates/xtask/src/build_skill_refs/ci_setup.rs
  crates/xtask/src/build_skill_refs/mod.rs
Due: cargo-check, clippy

xtask: register ci_setup generator; commit generated action.md
  .rumdl.toml
  crates/xtask/src/build_skill_refs/ci_setup.rs
  crates/xtask/src/build_skill_refs/mod.rs
  skills/toolr-ci-setup/references/action.md
Due: cargo-check, clippy

xtask/tests: assert action.yml inputs/outputs match references/action.md
  crates/xtask/tests/coverage.rs
Due: cargo-check, clippy

skills/toolr-ci-setup: author SKILL.md body and trigger
  skills/toolr-ci-setup/SKILL.md
Due: none

skills/toolr-ci-setup: add README
  skills/toolr-ci-setup/README.md
Due: none

skills/toolr-ci-setup: add REVIEW checklist
  skills/toolr-ci-setup/REVIEW.md
Due: none

skills/toolr-ci-setup: add trigger fixture
  skills/toolr-ci-setup/tests/triggers.yaml
Due: none

skills/toolr-command-authoring: cross-link to toolr-ci-setup
  skills/toolr-command-authoring/REVIEW.md
  skills/toolr-command-authoring/SKILL.md
Due: none

skills/toolr-command-packaging: cross-link to toolr-ci-setup from rule 3
  skills/toolr-command-packaging/REVIEW.md
  skills/toolr-command-packaging/SKILL.md
Due: none

docs/skills: list toolr-ci-setup and consolidate install block
  docs/skills.md
Due: update-doc-stubs

UNRELEASED: note toolr-ci-setup skill and install-pattern change
  UNRELEASED.md
Due: none

xtask: swap serde_yml for serde_yaml_ng to drop unsound libyml dep
  Cargo.lock
  crates/xtask/Cargo.toml
  crates/xtask/src/build_skill_refs/ci_setup.rs
Due: cargo-check, clippy

Revert "ci(prepare-release): skip tools venv sync (built-in toolr only)"
  .github/workflows/_prepare-release.yml
Due: none

mise: drop --global from headline install snippets
  .github/workflows/install-smoke.yml
  README.md
  docs/installation/index.md
  docs/installation/mise.md
  docs/quickstart.md
Due: update-doc-stubs

mise: drop in-tree asdf plugin, install via aqua backend
  .github/workflows/install-smoke.yml
  README.md
  UNRELEASED.md
  docs/installation/index.md
  docs/installation/mise.md
  docs/quickstart.md
  installation/mise/README.md
  installation/mise/bin/download
  installation/mise/bin/install
  installation/mise/bin/list-all
Due: update-doc-stubs

ci(prepare-release): skip tools venv sync (built-in toolr only)
  .github/workflows/_prepare-release.yml
Due: none

tools: leave the uv workspace, resolve toolr-py from PyPI
  .pre-commit-config.yaml
  pyproject.toml
  tools/pyproject.toml
  tools/uv.lock
  uv.lock
Due: none

ci: drop self action-version pin and auto-sync rolling tags on release
  .github/workflows/release.yml
  .github/workflows/sync-rolling-tags.yml
  tools/ci.py
Due: none

deploy: e46c03b2bd548a03639547eb9ef1e9c545e2f34b
  changelog/index.html
  search/search_index.json
Due: none

deploy: 5c22e04aec77a5139190750bb7d5a6139a431329
  changelog/index.html
  installation/index.html
  installation/mise/index.html
  quickstart/index.html
  search/search_index.json
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
