Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

fix(uv): detect musl libc in auto-installer and add actionable exec-failure hint
  crates/toolr-core/src/project.rs
  crates/toolr-core/src/uv/discover.rs
  crates/toolr-core/src/uv/install.rs
  crates/toolr-core/src/uv/mod.rs
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy

deploy: 8aff776367813e9430e7b9a65bff7d34f969123e
  changelog/index.html
  search/search_index.json
Due: none

fix(action): bake released version into action.yml so SHA pins resolve correctly
  .github/workflows/_prepare-release.yml
  action.yml
  tests/action_yml/__init__.py
  tests/action_yml/test_resolve_version.py
  tests/test_tools_version.py
  tools/version.py
Due: none

chore: format `build-skill-refs` and `regen-doc-snippets` `files:` regexes as verbose multi-line
  .pre-commit-config.yaml
Due: none

Add missing PyYAML dependency for tests
  pyproject.toml
  uv.lock
Due: none

chore: collapse per-alt `$` anchors in `build-skill-refs` regex to a single trailing `)$`
  .pre-commit-config.yaml
Due: none

fix: regenerate toolr-ci-setup action.md and widen build-skill-refs trigger
  .pre-commit-config.yaml
  skills/toolr-ci-setup/references/action.md
Due: none

Differentiate the exit status checks(push vs pull-requests)
  .github/workflows/ci.yml
Due: none

refactor(version): write dev versions to action.yml on every push so the bake-in is exercised in CI
  tests/test_tools_version.py
  tools/version.py
Due: none

ci(_test): pass `--no-sync` to `uv run` so prebuilt toolr-py wheel survives
  .github/workflows/_test.yml
Due: none

feat(action): install uv via astral-sh/setup-uv when missing or version-pinned
  action.yml
Due: none

fix: regenerate toolr-ci-setup action.md for new `uv-version` input
  skills/toolr-ci-setup/references/action.md
Due: none

deploy: 23f3a18c80d7585665d672002f80a87b2f830849
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(dispatch): surface arg() metadata TypeError from dispatcher detection
  crates/toolr-py/python/toolr/utils/_signature.py
  tests/sources/test_detection.py
Due: none

chore(ci): bump GitHub Action pin SHAs and MISE_VERSION
  .github/env
  .github/workflows/_build.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/sync-rolling-tags.yml
Due: none

deploy: 3bd5db3bdc3c6827c024c1793a1033aad5e6d5a2
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

specs: add design for mise enter-hook auto-sync of tools venv
  specs/2026-06-01-mise-enter-auto-sync-design.md
Due: none

specs: add implementation plan for mise-enter-hook auto-sync
  specs/2026-06-01-mise-enter-auto-sync-plan.md
Due: none

specs: link design + plan to follow-up issue #288
  specs/2026-06-01-mise-enter-auto-sync-design.md
  specs/2026-06-01-mise-enter-auto-sync-plan.md
Due: none

feat(venv): thread --quiet through run_uv_sync and sync_if_needed
  crates/toolr-core/src/project.rs
  crates/toolr-core/src/venv/sync.rs
  crates/toolr/src/project.rs
Due: cargo-check, clippy

feat(uv): add silent_refuse to ConsentMode for unattended callers
  crates/toolr-core/src/uv/install.rs
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy

refactor(venv): replace ensure_venv_ready force flag with EnsureOpts
  crates/toolr-core/src/project.rs
  crates/toolr/src/project.rs
Due: cargo-check, clippy

feat(cli): move project deps to project venv; flip sync default
  crates/toolr/src/cli.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy

feat(completions): move project venv sync/upgrade; drop deps
  crates/toolr/src/builtin_completions.rs
Due: cargo-check, clippy

fix(hints): point users to project venv sync, not project deps sync
  crates/toolr-core/src/deps_check/mod.rs
  crates/toolr-core/src/deps_check/preflight.rs
  crates/toolr-core/src/venv/sync.rs
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy

test(cli): update smoke assertions to project venv sync
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy

test(cli): rename project_deps_upgrade to project_venv_upgrade
  crates/toolr/tests/project_venv_upgrade.rs
Due: cargo-check, clippy

test(cli): integration coverage for project venv sync flag matrix
  crates/toolr/tests/project_venv_sync.rs
Due: cargo-check, clippy

docs(snippets): regenerate project venv sync --help capture
  .pre-commit-hooks/regen-doc-snippets.py
  docs/cli-files/project-venv-sync-help.txt
Due: none

docs(snippets): remove obsolete project-deps-sync help capture
  docs/cli-files/project-deps-sync-help.txt
Due: none

docs: rename toolr project deps references to project venv
  CONTRIBUTING.md
  docs/cli.md
  docs/concepts.md
  docs/internals/diagnostics.md
  docs/project-config.md
Due: update-doc-stubs

docs(mise): document the enter-hook auto-sync recipe
  docs/installation/mise.md
Due: update-doc-stubs

docs(unreleased): note the project deps → project venv rename
  UNRELEASED.md
Due: none

test(deps-check): update missing-deps hint assertion to project venv sync
  crates/toolr-core/src/deps_check/tests.rs
Due: cargo-check, clippy

specs: archive mise-enter-auto-sync design + plan (implemented)
  specs/archive/2026/2026-06-01-mise-enter-auto-sync-design.md
  specs/archive/2026/2026-06-01-mise-enter-auto-sync-plan.md
Due: none

fix(ci): update Python test assertions and changelog link for venv rename
  UNRELEASED.md
  tests/runner/test_runner_coverage.py
Due: none

specs: design venv ↔ uv parity (drop venv upgrade, add lock/add/remove)
  specs/2026-06-02-venv-uv-parity-design.md
Due: none

specs: implementation plan for venv ↔ uv parity
  specs/2026-06-02-venv-uv-parity-plan.md
Due: none

venv-core: introduce UpgradeMode enum
  crates/toolr-core/src/venv/mod.rs
  crates/toolr-core/src/venv/sync.rs
Due: cargo-check, clippy

venv-core: thread UpgradeMode through run_uv_sync + sync_if_needed
  crates/toolr-core/src/project.rs
  crates/toolr-core/src/venv/sync.rs
  crates/toolr/src/project.rs
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
