Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

docs(reference): Prune private-module pages, keep only the public API surface
  .pre-commit-config.yaml
  .pre-commit-hooks/ref-doc-stubs.py
  docs/reference/arg.md
  docs/reference/build.md
  docs/reference/command_group.md
  docs/reference/context.md
  docs/reference/index.md
  docs/reference/testing.md
  docs/reference/toolr/_context.md
  docs/reference/toolr/_exc.md
  docs/reference/toolr/_introspect.md
  docs/reference/toolr/_parser.md
  docs/reference/toolr/_registry.md
  docs/reference/toolr/_runner.md
  docs/reference/toolr/utils/_console.md
  docs/reference/toolr/utils/_docstrings.md
  docs/reference/toolr/utils/_imports.md
  docs/reference/toolr/utils/_logs.md
  docs/reference/toolr/utils/_signature.md
  docs/reference/toolr/utils/command.md
Due: update-doc-stubs

ci: Wire doc-snippet drift check into pre-commit + CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(clippy): Use sort_by_key with Reverse in self_cache::run_list
  src/bin/toolr/self_cache.rs
Due: cargo-check, clippy

docs: Update nav, third-party link, and snippet whitespace handling for the reference rename
  .pre-commit-hooks/regen-doc-snippets.py
  docs/third-party.md
  mkdocs.yml
  python/toolr/_context.py
Due: update-doc-stubs

docs: Slim home page to a landing + audience-shortcut layout
  docs/index.md
Due: update-doc-stubs

docs(roadmap): Mark Plan 11 as done
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/13-plan-11-docs-overhaul.md
Due: none

docs: Supported-types matrix + manifest schema reference
  docs/internals/manifest.md
  docs/writing-commands/arguments.md
Due: update-doc-stubs

fix(runner): Pass dec_hook to *args coercion; document arg() metadata gap
  docs/writing-commands/annotations.md
  docs/writing-commands/known-bugs.md
  python/toolr/_runner.py
Due: update-doc-stubs

feat(complete): Tab-complete nested groups + their child commands
  src/complete/engine.rs
  src/complete/tests.rs
Due: cargo-check, clippy

feat(types): Add toolr.types.Version (PEP 440 via pep440_rs / packaging)
  Cargo.lock
  Cargo.toml
  docs/writing-commands/arguments.md
  pyproject.toml
  python/toolr/_runner.py
  python/toolr/types/__init__.py
  src/bin/toolr/value_parsers.rs
  src/parser/types.rs
  tests/test_types_module.py
  uv.lock
Due: update-doc-stubs, cargo-check, clippy

feat(types): arg() Path constraints + msgspec dec_hook for richer types
  python/toolr/_runner.py
  python/toolr/utils/_signature.py
  src/bin/toolr/cli.rs
  src/bin/toolr/value_parsers.rs
  src/complete/tests.rs
  src/execute/build.rs
  src/manifest/model.rs
  src/parser/mod.rs
  src/parser/signatures.rs
  src/parser/types.rs
  src/third_party/merge.rs
Due: update-doc-stubs, cargo-check, clippy

feat(groups): Nested command groups (closes #193)
  docs/writing-commands/known-bugs.md
  docs/writing-commands/nesting.md
  python/toolr/_introspect.py
  src/bin/toolr/cli.rs
  src/bin/toolr/dispatch.rs
  src/complete/tests.rs
  src/dynamic/merge.rs
  src/dynamic/tests.rs
  src/manifest/model.rs
  src/manifest/tests.rs
  src/parser/commands.rs
  src/parser/groups.rs
  src/third_party/merge.rs
  src/third_party/tests.rs
Due: update-doc-stubs, cargo-check, clippy

feat(types): clap-side per-type value_parsers + manifest-build type validation
  Cargo.lock
  Cargo.toml
  src/bin/toolr/cli.rs
  src/bin/toolr/main.rs
  src/bin/toolr/value_parsers.rs
  src/complete/tests.rs
  src/execute/build.rs
  src/manifest/model.rs
  src/parser/build.rs
  src/parser/commands.rs
  src/parser/signatures.rs
  src/parser/types.rs
  src/third_party/merge.rs
Due: cargo-check, clippy

fix(parser): Resolve enum-attribute defaults to their serialised value (#197)
  src/parser/signatures.rs
  src/parser/symbols.rs
Due: cargo-check, clippy

feat(types): Wire heterogeneous tuple[T1, T2, ...] arity into clap
  src/bin/toolr/cli.rs
  src/bin/toolr/value_parsers.rs
  src/execute/build.rs
Due: cargo-check, clippy

feat: parent=kwarg nesting + yellow/green help palette
  src/bin/toolr/cli.rs
  src/parser/groups.rs
Due: cargo-check, clippy

feat: @command(group="path") string-path attachment + dotted command_group
  python/toolr/__init__.py
  python/toolr/_registry.py
  src/parser/build.rs
  src/parser/commands.rs
  src/parser/groups.rs
Due: update-doc-stubs, cargo-check, clippy

feat(help): Render docstring markdown via termimad for --help output
  Cargo.lock
  Cargo.toml
  docs/quickstart-files/example-setlog-help.txt
  src/bin/toolr/cli.rs
  src/bin/toolr/main.rs
  src/bin/toolr/markdown.rs
Due: cargo-check, clippy

fix(cli): -h shows full description, matching argparse-era ergonomics
  docs/quickstart-files/example-help.txt
  docs/quickstart-files/example-setlog-help.txt
  src/bin/toolr/cli.rs
Due: cargo-check, clippy

docs: Catch the writing-commands chapter up to the new decorator API
  docs/cli.md
  docs/reference/command.md
  docs/reference/index.md
  docs/writing-commands/arguments.md
  docs/writing-commands/docstrings.md
  docs/writing-commands/files/nesting-dotted-example.py
  docs/writing-commands/files/string-path-example.py
  docs/writing-commands/groups.md
  docs/writing-commands/index.md
  docs/writing-commands/nesting.md
  mkdocs.yml
Due: update-doc-stubs

fix(cli): --help shows summary+description; root-only -d/-q flags
  docs/cli-files/project-deps-sync-help.txt
  docs/cli-files/project-init-help.txt
  docs/cli-files/project-manifest-rebuild-help.txt
  docs/cli-files/project-venv-path-help.txt
  docs/cli-files/project-venv-shell-help.txt
  docs/cli-files/self-build-manifest-help.txt
  docs/cli-files/self-cache-list-help.txt
  docs/cli-files/self-cache-prune-help.txt
  docs/cli-files/self-completion-install-help.txt
  docs/cli-files/self-completion-print-help.txt
  docs/quickstart-files/example-help.txt
  docs/quickstart-files/example-setlog-help.txt
  docs/writing-commands/files/calculator-add-help.txt
  docs/writing-commands/files/hello-help.txt
  docs/writing-commands/files/literal-choices-help.txt
  src/bin/toolr/cli.rs
Due: cargo-check, clippy

fix(cli): Parent listings show summary only; -h on leaves shows the full body
  docs/quickstart-files/example-help.txt
  docs/quickstart-files/example-setlog-help.txt
  docs/writing-commands/files/calculator-add-help.txt
  docs/writing-commands/files/hello-help.txt
  docs/writing-commands/files/literal-choices-help.txt
  src/bin/toolr/cli.rs
Due: cargo-check, clippy

feat(types): Follow module-level type aliases through resolution
  src/bin/toolr/cli.rs
  src/parser/build.rs
  src/parser/commands.rs
  src/parser/mod.rs
  src/parser/signatures.rs
  src/parser/symbols.rs
  src/parser/types.rs
Due: cargo-check, clippy

feat(parser): Cross-file group bindings + parent=<var> resolution
  src/parser/build.rs
  src/parser/commands.rs
  src/parser/groups.rs
Due: cargo-check, clippy

feat: ToolrDeprecationWarning on legacy decorators
  python/toolr/_exc.py
  python/toolr/_registry.py
  python/toolr/_runner.py
Due: update-doc-stubs

chore(release): Bump version to 0.20.0
  pyproject.toml
  uv.lock
Due: none

fix(ci): Pin COLUMNS=100 for snippet captures + correct plan-doc links
  .pre-commit-hooks/regen-doc-snippets.py
  specs/rust-front-end/13-plan-11-docs-overhaul.md
Due: none

fix(parser): Classify `Annotated[bool, arg(...)]` as a Flag
  src/parser/signatures.rs
Due: cargo-check, clippy

fix(cli): Render Output Options help text through termimad
  docs/cli-files/toolr-help.txt
  docs/quickstart-files/toolr-help.txt
  src/bin/toolr/cli.rs
Due: cargo-check, clippy

ci(pre-commit): Install uv + sync dev venv for regen-doc-snippets hook
  .github/actions/setup-pre-commit/action.yml
Due: none

Update GH actions to latest versions
  .github/actions/apply-release-patch/action.yml
  .github/actions/setup-pre-commit/action.yml
  .github/actions/setup-virtualenv/action.yml
  .github/workflows/build-binary-archive.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/install-smoke.yml
  .github/workflows/scorecards.yml
  .github/workflows/test.yml
Due: none

chore: Stop tracking tools/.toolr-manifest.json — it's a cache
  .gitignore
  .pre-commit-hooks.yaml
  docs/concepts.md
  docs/internals/manifest.md
  docs/internals/pre-commit.md
  src/bin/toolr/init_templates/gitignore.tmpl
  tools/.toolr-manifest.json
Due: update-doc-stubs

docs: Lead with the string-path API, deprecate legacy in prose
  docs/.fixtures/sample-repo/tools/example.py
  docs/internals/manifest.md
  docs/migration.md
  docs/quickstart.md
  docs/third-party.md
  docs/writing-commands/files/calculator.py
  docs/writing-commands/files/docstrings-example.py
  docs/writing-commands/files/example.py
  docs/writing-commands/files/files-list.py
  docs/writing-commands/files/files-star-args.py
  docs/writing-commands/files/flags-example.py
  docs/writing-commands/files/function-name-conversion.py
  docs/writing-commands/files/groups-example.py
  docs/writing-commands/files/hello.py
  docs/writing-commands/files/literal-choices.py
  docs/writing-commands/files/nesting-dotted-example.py
  docs/writing-commands/files/nesting-example.py
  docs/writing-commands/files/string-path-example.py
  docs/writing-commands/files/system.py
  docs/writing-commands/groups.md
  docs/writing-commands/index.md
  docs/writing-commands/nesting.md
  mkdocs.yml
  src/bin/toolr/init_templates/example.py.tmpl
Due: update-doc-stubs

feat(cli): Output Options — timestamps + ctx.run timeout defaults (closes #191)
  docs/cli-files/toolr-help.txt
  docs/cli.md
  docs/quickstart-files/toolr-help.txt
  python/toolr/_context.py
  python/toolr/_runner.py
  src/bin/toolr/cli.rs
  src/bin/toolr/dispatch.rs
  src/execute/build.rs
  src/execute/mod.rs
  src/execute/spec.rs
  src/execute/tempfile.rs
Due: update-doc-stubs, cargo-check, clippy

feat(arg): Full arg() metadata + toolr.types.Count (closes #198)
  docs/reference/arg_section.md
  docs/writing-commands/annotations.md
  docs/writing-commands/arguments.md
  docs/writing-commands/known-bugs.md
  mkdocs.yml
  python/toolr/__init__.py
  python/toolr/types/__init__.py
  python/toolr/utils/_signature.py
  src/bin/toolr/cli.rs
  src/bin/toolr/value_parsers.rs
  src/complete/tests.rs
  src/execute/build.rs
  src/manifest/mod.rs
  src/manifest/model.rs
  src/parser/build.rs
  src/parser/commands.rs
  src/parser/mod.rs
  src/parser/signatures.rs
  src/parser/symbols.rs
  src/parser/types.rs
  src/third_party/merge.rs
  tests/test_types_module.py
  tests/utils/signature/test_argument_annotation.py
Due: update-doc-stubs, cargo-check, clippy

fix(tests): JSON-encode paths in cache fixture for Windows compatibility
  tests/cache_fixtures.rs
Due: cargo-check, clippy

fix(tests): Skip silent_failure_when_no_tools_dir_anywhere when host has tools/
  tests/complete_smoke.rs
Due: cargo-check, clippy

fix(rust): Gate execute::signals test module behind cfg(unix)
  src/execute/signals.rs
Due: cargo-check, clippy

fix(tests): JSON-encode paths in self-cache-prune fixture too
  tests/self_cache_prune.rs
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
