Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

deploy: 7979d779da66fd9a27cc53a7eca3ebe8c4846dea
  404.html
  changelog/index.html
  cli/index.html
  concepts/index.html
  contributing/index.html
  index.html
  installation/index.html
  installation/mise/index.html
  internals/cache/index.html
  internals/diagnostics/index.html
  internals/index.html
  internals/manifest/index.html
  internals/pre-commit/index.html
  migration/index.html
  project-config/index.html
  quickstart/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/index.html
  reference/testing/index.html
  search/search_index.json
  skills/index.html
  third-party/index.html
  writing-commands/across-files/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/context/index.html
  writing-commands/docstrings/index.html
  writing-commands/external-sources/index.html
  writing-commands/groups/index.html
  writing-commands/index.html
  writing-commands/known-bugs/index.html
  writing-commands/nesting/index.html
  writing-commands/testing/index.html
Due: none

fix(deps): correct aqua:s0undt3ch/ToolR pin to 0.28.0
  mise.lock
  mise.toml
Due: none

style(argparse): tighten inline comments to one-or-two-line why statements
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

fix(argparse): gate Command-symbol detection behind an opt-in django flag
  UNRELEASED.md
  crates/toolr-core/src/argparse/attach.rs
  crates/toolr-core/src/argparse/config.rs
  crates/toolr-core/src/argparse/mod.rs
  crates/toolr-core/src/argparse/scan.rs
  docs/writing-commands/external-sources.md
Due: update-doc-stubs, cargo-check, clippy

fix(argparse): keep zero-arg Django management commands in the scanner
  UNRELEASED.md
  crates/toolr-core/src/argparse/attach.rs
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

refactor(argparse): rename is_command_class/defines_command_class to django-prefixed
  crates/toolr-core/src/argparse/attach.rs
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

style(argparse): rewrap this PR's comments to the repo's 100/120 width policy
  crates/toolr-core/src/argparse/config.rs
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

fix(argparse): make the underscore-filename skip unconditional
  UNRELEASED.md
  crates/toolr-core/src/argparse/config.rs
  crates/toolr-core/src/argparse/scan.rs
  docs/writing-commands/external-sources.md
Due: update-doc-stubs, cargo-check, clippy

deploy: 6fe313c692c201cd4a852f5d42f46554cbf9d1b7
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/external-sources/index.html
Due: none

fix(dispatch): reject dispatcher flags leaked into a leaf's trailing args
  UNRELEASED.md
  crates/toolr/src/dispatch.rs
  crates/toolr/src/execute_build.rs
  crates/toolr/tests/dispatch_coverage.rs
Due: cargo-check, clippy

deploy: b0d3b2d47cc728206ef897409b1b15919c57d768
  changelog/index.html
  search/search_index.json
Due: none

Fix toolr version on mise.toml
  mise.lock
  mise.toml
Due: none

deploy: e4c33ce7ab1cef7ec1cf78f288274228a2e6021d
  changelog/index.html
  search/search_index.json
Due: none

fix(parser): key enum CLI choices by defining module, not bare class name
  UNRELEASED.md
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/signatures.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
Due: cargo-check, clippy

test(parser): cover the enum cross-module and Optional[T]/None|T resolution paths
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/mod.rs
Due: cargo-check, clippy

deploy: 4f642fd712d7f50e96bc44167b83d1d94a3d046a
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

feat(testing): forward assert_called and assert_has_calls on RunMock
  UNRELEASED.md
  crates/toolr-py/python/toolr/testing/_run_mock.py
  tests/testing/test_run_mock.py
Due: none

feat(testing): let make_context override captured-console width
  UNRELEASED.md
  crates/toolr-py/python/toolr/testing/__init__.py
  crates/toolr-py/python/toolr/testing/_make_context.py
Due: none

feat(xtask): extract toolr.testing's API and a worked example into skill refs
  CLAUDE.md
  crates/xtask/src/build_skill_refs/authoring.rs
  crates/xtask/src/build_skill_refs/mod.rs
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/references/testing-examples.md
  skills/toolr-command-authoring/references/testing.md
  tests/skill_examples/__init__.py
  tests/skill_examples/test_authoring_examples.py
Due: cargo-check, clippy

docs(testing): add a ctx.prompt/prompt_input= worked example
  crates/xtask/src/build_skill_refs/authoring.rs
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/references/testing-examples.md
  tests/skill_examples/test_authoring_examples.py
Due: cargo-check, clippy

test(xtask): cover testing_examples' renamed/removed-function error path
  crates/xtask/src/build_skill_refs/authoring.rs
Due: cargo-check, clippy

docs(skills): add monitor-pr, a CI-babysitting loop for toolr PRs
  .claude/skills/monitor-pr/SKILL.md
Due: none

deploy: adbf49290e5521fb29f4066692255d7065bf1dd1
  changelog/index.html
  reference/testing/index.html
  search/search_index.json
Due: none

deploy: c44b981460aac3f445848dc5cdb880b788f70cdc
  changelog/index.html
  search/search_index.json
Due: none

Lock mise to the right version
  mise.lock
  mise.toml
Due: none

fix(renovate): pin toolr release rule to full semver tags
  docs/installation/mise.md
  renovate.json5
Due: update-doc-stubs

fix(ci): keep uv/prek/ruff/toolr on musl Linux artifacts in mise.lock
  mise.lock
  mise.toml
Due: none

deploy: 5a9c8130e5cd4141836a6fa10c56ef30285009b8
  changelog/index.html
  installation/mise/index.html
  search/search_index.json
Due: none

chore(ci): bump pinned mise to v2026.8.10
  .github/env
Due: none

deploy: 083435d3c8245701f565585b024d9de5e64993c9
  changelog/index.html
  search/search_index.json
Due: none

docs(claude): document version-bump judgment and regression-test discipline
  CLAUDE.md
Due: none

deploy: 633038abcc40fa32d45bad440d4196d152363c8d
  changelog/index.html
  search/search_index.json
Due: none

fix(parser): populate allowed_values for Optional-wrapped Enum/Literal args
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/commands.rs
Due: cargo-check, clippy

feat(parser): resolve command-signature enums through explicit imports
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/signatures.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
  crates/toolr-core/src/parser/types/supported.rs
  specs/2026-08-20-command-symbol-resolution-design.md
  specs/2026-08-20-command-symbol-resolution-plan.md
Due: cargo-check, clippy

fix(parser): treat identically-shaped cross-module enum defs as unambiguous
  UNRELEASED.md
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/symbols.rs
Due: cargo-check, clippy

test: close patch-coverage gaps flagged by codecov on this PR
  crates/toolr-core/src/execute/spec.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
  tests/runner/test_runner_coverage.py
Due: cargo-check, clippy

test(toolr): end-to-end coverage for cross-module enum resolution
  UNRELEASED.md
  crates/toolr/tests/freshness_dispatch.rs
  specs/archive/2026/2026-08-20-command-symbol-resolution-design.md
  specs/archive/2026/2026-08-20-command-symbol-resolution-plan.md
Due: cargo-check, clippy

feat(parser): specific errors for star imports and attribute-chain usage
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
Due: cargo-check, clippy

docs(comments): drop bare issue-number references from code comments
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/supported.rs
  crates/toolr/tests/freshness_dispatch.rs
  tests/runner/test_runner_coverage.py
Due: cargo-check, clippy

fix(parser): mark SupportedType::Enum.module serde-default, no version bump needed
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/types/supported.rs
  specs/2026-08-20-command-symbol-resolution-design.md
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
