Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

feat(toolr.build): Validate fragment schema before writing
  python/toolr/build.py
  tests/build_manifest/test_build_manifest.py
Due: update-doc-stubs

feat(cli): Add toolr self build-manifest Rust wrapper around python -m toolr.build
  Cargo.lock
  Cargo.toml
  src/bin/toolr/cli.rs
  src/bin/toolr/dispatch.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(third_party): Add discover_and_merge orchestrator with fail-fast on bad fragments
  src/third_party/mod.rs
  src/third_party/tests.rs
Due: cargo-check, clippy

test(third_party): Round-trip Python build_manifest into Rust-readable fragment
  tests/build_manifest/test_round_trip_with_rust.py
Due: none

feat(toolr.build): Programmatic build_manifest API for third-party packages
  docs/reference/toolr/build.md
  python/toolr/__init__.py
  python/toolr/_registry.py
  python/toolr/build.py
  tests/build_manifest/__init__.py
  tests/build_manifest/test_build_manifest.py
Due: update-doc-stubs

feat(third_party): Add schema-version migration framework with identity step
  src/third_party/migrate.rs
Due: cargo-check, clippy

feat(third_party): Merge fragments into Manifest with conflict resolution
  src/third_party/merge.rs
  src/third_party/mod.rs
  src/third_party/parse.rs
  src/third_party/tests.rs
Due: cargo-check, clippy

docs(roadmap): Mark Plan 5 as done
  specs/rust-front-end/01-roadmap.md
Due: none

feat(dynamic): Merge dynamic payload into static manifest with static-wins policy
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/dynamic/merge.rs
  src/dynamic/mod.rs
Due: cargo-check, clippy

feat(introspect): Load toolr.commands entry points so legacy packages appear in dynamic layer
  python/toolr/_introspect.py
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  tests/introspect/test_introspect_empty.py
  tests/introspect/test_introspect_entry_points.py
Due: update-doc-stubs

feat(dynamic): Define dynamic-layer payload schema and tests
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/dynamic/mod.rs
  src/dynamic/payload.rs
  src/dynamic/tests.rs
  src/lib.rs
Due: cargo-check, clippy

feat(dynamic): Add rebuild_manifest_full and rebuild_dynamic_only orchestration
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/dynamic/mod.rs
  src/dynamic/rebuild.rs
Due: cargo-check, clippy

docs(plans): Mark all completed steps in plans 4 and 5 as done
  specs/rust-front-end/05-plan-4-completion.md
  specs/rust-front-end/06-plan-5-static-third-party.md
Due: none

feat(dynamic): Spawn introspect helper and decode payload with schema check
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/dynamic/mod.rs
  src/dynamic/runner.rs
Due: cargo-check, clippy

feat(introspect): Add dynamic-manifest helper skeleton with empty-payload smoke test
  docs/reference/toolr/_introspect.md
  python/toolr/_introspect.py
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  tests/introspect/__init__.py
  tests/introspect/test_introspect_empty.py
Due: update-doc-stubs

feat(dynamic): Compute dynamic-layer hash over venv dist-info names
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/dynamic/hash.rs
  src/dynamic/mod.rs
Due: cargo-check, clippy

feat(introspect): Walk tools.* and emit registry-derived groups and commands
  python/toolr/_introspect.py
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  tests/introspect/test_introspect_tools_walk.py
Due: update-doc-stubs

feat(cli): Add toolr project manifest rebuild command
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/bin/toolr/cli.rs
  src/bin/toolr/project.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(runner): Intercept ImportError tracebacks and append sync hint
  specs/rust-front-end/08-plan-7-missing-deps.md
  src/bin/toolr/dispatch.rs
  src/execute/mod.rs
  src/execute/spawn.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(deps-check): Add post-mortem ImportError interceptor
  specs/rust-front-end/08-plan-7-missing-deps.md
  src/deps_check/mod.rs
  src/deps_check/post_mortem.rs
  src/deps_check/tests.rs
Due: cargo-check, clippy

feat(pre-commit): Ship toolr-manifest hook config for downstream consumers
  .pre-commit-hooks.yaml
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
Due: none

test(dynamic): End-to-end static-plus-dynamic merge integration test
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  tests/dynamic_e2e.rs
Due: cargo-check, clippy

feat(cli): Add TOOLR_NO_PREFLIGHT_DEPS escape hatch
  specs/rust-front-end/08-plan-7-missing-deps.md
  src/bin/toolr/dispatch.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(deps-check): Add pre-flight check_imports with structured error
  specs/rust-front-end/08-plan-7-missing-deps.md
  src/deps_check/mod.rs
  src/deps_check/preflight.rs
  src/deps_check/tests.rs
Due: cargo-check, clippy

docs(roadmap): Mark Plan 6 as done
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
Due: none

feat(dispatch): Auto-rebuild dynamic manifest layer when venv state changes
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  src/bin/toolr/dispatch.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(deps-check): Add filesystem probe for top-level imports
  specs/rust-front-end/08-plan-7-missing-deps.md
  src/deps_check/mod.rs
  src/deps_check/probe.rs
  src/deps_check/tests.rs
  src/lib.rs
Due: cargo-check, clippy

feat(cli): Run pre-flight missing-deps check before runner spawn
  specs/rust-front-end/08-plan-7-missing-deps.md
  src/bin/toolr/dispatch.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

test(cli): Cover pre-flight vs post-mortem split end-to-end
  specs/rust-front-end/08-plan-7-missing-deps.md
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(cache): Emit passive size-hint when cache exceeds thresholds
  specs/rust-front-end/09-plan-8-cache.md
  src/bin/toolr/main.rs
  src/cache/hint.rs
  src/cache/mod.rs
  src/cache/tests.rs
  tests/self_cache_prune.rs
Due: cargo-check, clippy

feat(cache): Touch last_used_at on every invocation
  specs/rust-front-end/09-plan-8-cache.md
  src/bin/toolr/dispatch.rs
  src/cache/mod.rs
  src/cache/tests.rs
  src/cache/touch.rs
Due: cargo-check, clippy

feat(cache): Add Meta sidecar data model with serde round-trip tests
  Cargo.lock
  Cargo.toml
  specs/rust-front-end/09-plan-8-cache.md
  src/cache/meta.rs
  src/cache/mod.rs
  src/cache/tests.rs
  src/lib.rs
Due: cargo-check, clippy

feat(cli): Add toolr self cache prune with --all and --dry-run
  specs/rust-front-end/09-plan-8-cache.md
  src/bin/toolr/self_cache_prune.rs
  tests/self_cache_prune.rs
Due: cargo-check, clippy

feat(cache): Drop meta.json sidecar on venv creation
  specs/rust-front-end/09-plan-8-cache.md
  src/cache/init.rs
  src/cache/mod.rs
  src/cache/tests.rs
  src/project.rs
Due: cargo-check, clippy

feat(cache): Classify cache entries as keep, orphan, or stale
  specs/rust-front-end/09-plan-8-cache.md
  src/cache/classify.rs
  src/cache/mod.rs
  src/cache/tests.rs
Due: cargo-check, clippy

docs(roadmap): Mark Plan 7 as done
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/08-plan-7-missing-deps.md
Due: none

feat(cache): Enumerate cache entries with size accounting
  Cargo.lock
  Cargo.toml
  specs/rust-front-end/09-plan-8-cache.md
  src/cache/enumerate.rs
  src/cache/mod.rs
  src/cache/tests.rs
Due: cargo-check, clippy

feat(cli): Add toolr self cache list with tabular output
  specs/rust-front-end/09-plan-8-cache.md
  src/bin/toolr/cli.rs
  src/bin/toolr/dispatch.rs
  src/bin/toolr/main.rs
  src/bin/toolr/self_cache.rs
  src/bin/toolr/self_cache_prune.rs
  tests/self_cache_list.rs
Due: cargo-check, clippy

test(cache): End-to-end fixture run of list, prune, prune --all
  specs/rust-front-end/09-plan-8-cache.md
  tests/cache_fixtures.rs
Due: cargo-check, clippy

feat(cli): Replace python -m toolr with binary-exec deprecation shim
  pyproject.toml
  python/toolr/__main__.py
  specs/rust-front-end/10-plan-9-distribution.md
  tests/cli/test_main_shim.py
  tests/test_main.py
Due: update-doc-stubs
