Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

deploy: 6fdc737b2e4e7e9a4ba6865ec998bd029cd47295
  sitemap.xml.gz
Due: none

feat(ctx.which): Implemented `ctx.which`
  python/toolr/_context.py
  python/toolr/_context.pyi
  tests/context/test_which.py
Due: update-doc-stubs

deploy: 45b6ae4ed784809d7ff989fd58c6e739d30f58db
  objects.inv
  reference/toolr/_context/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

feat(import-errors): Implement ``report_on_import_errors``
  pyproject.toml
  python/toolr/__init__.py
  python/toolr/utils/_imports.py
  tests/utils/test_imports.py
Due: update-doc-stubs

chore(changelog): Include link to commit in GH on the changelog
  cliff.toml
Due: none

refactor(imports): Differentiate `ModuleNotFoundError` and `ImportError`
  python/toolr/_registry.py
  tests/registry/test_discovery_errors.py
Due: update-doc-stubs

chore(release): Fix `New Contributors` header
  CHANGELOG.md
  cliff.toml
Due: none

deploy: d24154347f1bceb4bd2816b005b9f2ea52191c91
  404.html
  examples/index.html
  index.html
  installation/index.html
  objects.inv
  reference/toolr/_context/index.html
  reference/toolr/_parser/index.html
  reference/toolr/_registry/index.html
  reference/toolr/testing/index.html
  reference/toolr/utils/_console/index.html
  reference/toolr/utils/_docstrings/index.html
  reference/toolr/utils/_imports/index.html
  reference/toolr/utils/_logs/index.html
  reference/toolr/utils/_signature/index.html
  reference/toolr/utils/command/index.html
  search/search_index.json
  usage/index.html
Due: none

chore(action): Fix installing the action from tag
  action.yml
Due: none

feat(action): Update the `action.yml` version on PRs and releases
  .github/actions/prepare-release/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  action.yml
Due: none

chore(git describe): Improve `git describe`
  tools/version.py
Due: none

chore(ci): Improve build names
  .github/workflows/ci.yml
Due: none

feat(action): Support passing additional requirements file when setting up the action
  action.yml
Due: none

deploy: 83c1e5ba357b635cd6d6c600ecd5c8827e1cb604
  sitemap.xml.gz
Due: none

f
  .github/workflows/ci.yml
  tools/ci.py
Due: none

chore(release): Update our own ToolR action usage to latest release
  .github/actions/prepare-release/action.yml
  tools/ci.py
Due: none

xxx
  .github/actions/prepare-release/action.yml
Due: none

chore(ci): Install tools dependencies
  .github/actions/prepare-release/action.yml
  .github/workflows/ci.yml
  pyproject.toml
  tools/version.py
  uv.lock
Due: none

chore(ci): Improve CI build matrix reporting
  tools/ci.py
Due: none

chore(ci): Prevent unnecessary branch builds on PRs
  .github/workflows/ci.yml
  pyproject.toml
  tools/.ruff.toml
  tools/ci.py
  uv.lock
Due: none

chore(release): Update all self ToolR actions usage on release
  .github/actions/prepare-release/action.yml
  .github/actions/setup-pre-commit/action.yml
  .github/workflows/ci.yml
  tools/.ruff.toml
  tools/ci.py
Due: none

chore(ci): Consistent workflow toolr output width
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(command): We now log the `.run()` cmdline at the `INFO` level
  python/toolr/_context.py
Due: update-doc-stubs

fix(parent): Fix command nesting
  python/toolr/_registry.py
  tests/registry/test_registry_errors.py
Due: update-doc-stubs

fix(tests): Fix `ctx.which` tests to make them less brittle.
  tests/context/test_which.py
Due: none

chore(release): Add workflow that updates ToolR versions in workflows
  .github/workflows/sync-rolling-tags.yml
Due: none

chore(release): Don't update ToolR action usage in workflows
  .github/workflows/release.yml
Due: none

deploy: 2910035a9486f2fb57b2a0a6af7f1be5b12c1b6d
  reference/toolr/_context/index.html
  reference/toolr/_registry/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

chore(sync-rolling-tags): Fix `sync-rolling-tags` workflow trigger
  .github/workflows/sync-rolling-tags.yml
Due: none

feat(docstrings): We now use a rust extension to parse the docstrings
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/toolr/utils/_command.pyi
  python/toolr/utils/_docstrings.py
  python/toolr/utils/_rust_utils.pyi
  python/toolr/utils/command.py
  src/docstrings.rs
  src/docstrings/docstring_test.rs
  src/docstrings/tests.rs
  src/lib.rs
  src/python_bindings.rs
  tests/utils/docstrings/__init__.py
  tests/utils/docstrings/conftest.py
  tests/utils/docstrings/test_advanced_features.py
  tests/utils/docstrings/test_basic_parsing.py
  tests/utils/docstrings/test_parser_behavior.py
  uv.lock
Due: update-doc-stubs, cargo-check, clippy

feat(commands help): The command's help message is now formatted with Markdown
  python/toolr/_registry.py
Due: update-doc-stubs

chore(ci): Sync'ing rolling tags is now done on demand
  .github/workflows/sync-rolling-tags.yml
  tools/ci.py
Due: none

feat(docstrings): We now use a rust extension to parse the docstrings
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/toolr/_registry.py
  python/toolr/utils/_command.pyi
  python/toolr/utils/_docstrings.py
  python/toolr/utils/_rust_utils.pyi
  python/toolr/utils/_signature.py
  python/toolr/utils/command.py
  src/docstrings.rs
  src/docstrings/docstring_test.rs
  src/docstrings/edge_cases_test.rs
  src/docstrings/error_handling_test.rs
  src/docstrings/tests.rs
  src/lib.rs
  src/python_bindings.rs
  tests/utils/docstrings/__init__.py
  tests/utils/docstrings/test_advanced_features.py
  tests/utils/docstrings/test_basic_parsing.py
  tests/utils/docstrings/test_examples.py
  tests/utils/docstrings/test_parser_behavior.py
  uv.lock
Due: update-doc-stubs, cargo-check, clippy

chore(ci): Fix sync-rolling-tags command
  .github/workflows/sync-rolling-tags.yml
Due: none

deploy: 63ac1245428f9c6e6a56a2527500f3a90eb5da1c
  objects.inv
  reference/toolr/_registry/index.html
  reference/toolr/utils/_docstrings/index.html
  reference/toolr/utils/_signature/index.html
  reference/toolr/utils/command/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

chore(ci): More fixes to the sync-rolling-tags process
  .github/workflows/sync-rolling-tags.yml
  tools/ci.py
Due: none
