Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

docs(specs): archive the plugin command conflicts design and plan (#522)
  specs/archive/2026/2026-09-30-plugin-command-conflicts-design.md
  specs/archive/2026/2026-09-30-plugin-command-conflicts-plan.md
Due: none

deploy: 6b41eef1b86035ca74f3a2afa752cba3913cd3af
  changelog/index.html
  search/search_index.json
  third-party/index.html
Due: none

fix(ci): harden packslip-check against odd statements and dot-dirs (#508)
  tests/test_tools_ci_packslip.py
  tools/ci.py
Due: none

deploy: 3ef1fdbdef43177423569862ff711156771f82d1
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(ci): label the packslip CLI pin as a GitHub Actions dependency (#508)
  renovate.json5
Due: none

fix(dispatch): re-sync a stale tools venv before running a command (#527)
  UNRELEASED.md
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/dispatch_venv_freshness.rs
  docs/installation/mise.md
Due: update-doc-stubs, cargo-check, clippy

test(dispatch): keep system PATH out of the stale-venv tests (#527)
  crates/toolr/tests/dispatch_venv_freshness.rs
Due: cargo-check, clippy

feat(dispatch): warn when the venv's toolr-py minor version differs from the binary (#529)
  UNRELEASED.md
  crates/toolr-core/src/venv/mod.rs
  crates/toolr-core/src/venv/validate.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/dispatch_venv_freshness.rs
Due: cargo-check, clippy

deploy: 36a0388e60370c62f438a97d4962441ddda27844
  changelog/index.html
  search/search_index.json
Due: none

deploy: 3749739f932036b1cc7b66e7c06c2d2991782ba1
  changelog/index.html
  installation/mise/index.html
  search/search_index.json
Due: none

test(ci): smoke-test packslip and aqua installs through pytest
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  tests/distribution/mise/__init__.py
  tests/distribution/mise/conftest.py
  tests/distribution/mise/test_aqua.py
  tests/distribution/mise/test_packslip.py
Due: none

docs(install): name 0.34.0 as the first release with a packslip
  README.md
  docs/installation/index.md
  docs/installation/mise.md
  docs/quickstart.md
Due: update-doc-stubs

test(ci): harden the mise smoke tests against false greens
  .github/workflows/install-smoke.yml
  tests/distribution/mise/conftest.py
  tests/distribution/mise/test_aqua.py
  tests/distribution/mise/test_packslip.py
Due: none

test(ci): make the mise smoke shell checks fail loudly in CI
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  tests/distribution/mise/test_packslip.py
Due: none

test(ci): explain the mise smoke test couplings
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  docs/installation/mise.md
  tests/distribution/mise/conftest.py
  tests/distribution/mise/test_packslip.py
Due: update-doc-stubs

test(ci): run the arm64 macOS mise smoke leg on macos-15
  .github/workflows/install-smoke.yml
Due: none

deploy: 6111f3f9c3cd00c723614a0ff672d4c5c5b9f377
  changelog/index.html
  installation/index.html
  installation/mise/index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: a76f29cd29cfc456855a92552f46a124e5745040
  changelog/index.html
  search/search_index.json
Due: none

deploy: 4cce537f0c2e021002052c400358570617220646
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: d8a858e64166e3be66bb3a48edcd8f044890618c
  changelog/index.html
  search/search_index.json
Due: none

chore(ci): bump mise to v2026.10.3
  .github/env
Due: none

chore(renovate): track MISE_VERSION in .github/env
  .github/env
  renovate.json5
Due: none

deploy: 2df9030f2cbf0df0583f294a40a5da024ab77bee
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: c7a5c7bb5c7183b55a768da102b79e62bbd86c5b
  changelog/index.html
  search/search_index.json
Due: none

fix(runner): pass params ahead of `*args` positionally
  UNRELEASED.md
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_dispatch.py
  tests/runner/test_path_type_coercion.py
  tests/runner/test_runner_coverage.py
Due: none

fix(parser): read positional-only params from the signature
  UNRELEASED.md
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/signatures.rs
  crates/toolr-core/src/parser/types/resolve.rs
Due: cargo-check, clippy

test(e2e): drive #539's shapes through the checkout's toolr binary
  tests/conftest.py
  tests/e2e/__init__.py
  tests/e2e/test_positional_args.py
Due: none

test(sources): drop the dead TOOLR_TEST_PYTHON env from the e2e tests
  tests/sources/test_e2e.py
Due: none

test: compare toolr versions semantically and print paths portably
  tests/conftest.py
  tests/e2e/test_positional_args.py
  tests/runner/test_dispatch.py
Due: none

test(runner): cover the default and missing-param paths ahead of `*args`
  tests/runner/test_runner_coverage.py
Due: none

deploy: 65acf839bb0cc8ac9356ec3c571344c86fcbe711
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(docstrings): keep wrapped `Args:` entries' continuation lines
  UNRELEASED.md
  crates/toolr-core/src/docstrings.rs
  crates/toolr-core/src/docstrings/docstring_test.rs
  crates/toolr-core/src/parser/build.rs
Due: cargo-check, clippy

fix(cache): rename meta.json with std so Windows allows concurrent replaces
  crates/toolr-core/src/cache/meta.rs
Due: cargo-check, clippy

fix(cache): stage meta.json through a unique temp file
  UNRELEASED.md
  crates/toolr-core/src/cache/meta.rs
  crates/toolr-core/src/cache/tests.rs
Due: cargo-check, clippy

deploy: d9877e706ff6d77f5d7d22123f8fe1a0c3c8cef4
  changelog/index.html
  search/search_index.json
Due: none

fix(freshness): skip the in-tree venv when hashing tools/
  UNRELEASED.md
  crates/toolr-core/src/hash.rs
  crates/toolr-core/src/parser/build.rs
Due: cargo-check, clippy

test(hash): cover the non-NotFound read error path
  crates/toolr-core/src/hash.rs
Due: cargo-check, clippy

fix(manifest): write the manifest atomically
  .gitignore
  crates/toolr-core/src/manifest/io.rs
  crates/toolr-core/src/manifest/tests.rs
Due: cargo-check, clippy

test(manifest): cover the missing-manifest rebuild path
  crates/toolr-core/src/manifest/io.rs
  crates/toolr/src/bootstrap.rs
Due: cargo-check, clippy

fix(cli): stop treating an unreadable manifest as an empty command set
  UNRELEASED.md
  crates/toolr/src/bootstrap.rs
  crates/toolr/src/main.rs
  crates/toolr/tests/manifest_concurrency.rs
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
