Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

docs: note self-contained skills in release notes and skills guide
  UNRELEASED.md
  docs/skills.md
Due: update-doc-stubs

docs(writing-commands): correct stale path_must_* keyword docs
  docs/writing-commands/annotations.md
  docs/writing-commands/known-bugs.md
Due: update-doc-stubs

docs: sharpen self-contained-skills wording and list generated skill refs
  UNRELEASED.md
  docs/skills.md
Due: update-doc-stubs

fix(xtask): lint every file a skill ships and close gate bypasses
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

ci: widen build-skill-refs hook inputs and fail on untracked generated files
  .github/workflows/_test.yml
  .pre-commit-config.yaml
Due: none

docs: separate never-accepted path_must_* spellings from deprecated kwargs
  docs/writing-commands/annotations.md
  skills/toolr-command-packaging/SKILL.md
Due: update-doc-stubs

chore(specs): archive self-contained skills design and plan
  specs/archive/2026/2026-09-27-skills-self-contained-design.md
  specs/archive/2026/2026-09-27-skills-self-contained-plan.md
Due: none

fix(xtask): normalise CRLF sources before generating skill refs
  .gitattributes
  crates/xtask/src/build_skill_refs/authoring.rs
  crates/xtask/src/build_skill_refs/ci_setup.rs
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  crates/xtask/src/build_skill_refs/sections.rs
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

test(xtask): cover docs-section extraction edge cases and generator error paths
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  crates/xtask/src/build_skill_refs/sections.rs
Due: cargo-check, clippy

fix(xtask): lint unquoted HTML href/src values in skills
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

refactor(xtask): derive self-containment URL list from project metadata
  Cargo.lock
  crates/xtask/Cargo.toml
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

docs(writing-commands): use the canonical @group.command form in single-file examples
  docs/.fixtures/sample-repo/tools/example.py
  docs/writing-commands/annotations.md
  docs/writing-commands/arguments.md
  docs/writing-commands/files/calculator.py
  docs/writing-commands/files/docstrings-example.py
  docs/writing-commands/files/example.py
  docs/writing-commands/files/files-list.py
  docs/writing-commands/files/files-star-args.py
  docs/writing-commands/files/flags-example.py
  docs/writing-commands/files/hello.py
  docs/writing-commands/files/literal-choices.py
  docs/writing-commands/files/nesting-example.py
  docs/writing-commands/files/system.py
  docs/writing-commands/index.md
  docs/writing-commands/nesting.md
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/examples/tools/db.py
  skills/toolr-command-authoring/examples/tools/greet.py
  skills/toolr-command-authoring/references/arguments.md
Due: update-doc-stubs

docs(internals): the bound @group.command form is canonical, not deprecated
  docs/internals/manifest.md
Due: update-doc-stubs

test(skills): regenerate the authoring examples manifest snapshot
  skills/toolr-command-authoring/examples/toolr-manifest.json
Due: none

fix(xtask): print self-containment violations with forward slashes on every OS
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

fix(packslip): harden packslip-check.sh path resolution and error handling
  .github/scripts/packslip-check.sh
Due: none

docs(specs): add packslip release manifest implementation plan
  specs/2026-09-27-packslip-plan.md
Due: none

ci(release): sign and publish a packslip for each release
  .github/workflows/release.yml
Due: none

ci(packslip): add shared release manifest and offline check script
  .github/packslip.toml
  .github/scripts/packslip-check.sh
Due: none

ci(packslip): check the release manifest against CI-built archives on every PR
  .github/workflows/ci.yml
Due: none

docs(specs): add packslip release manifest design
  specs/2026-09-27-packslip-design.md
Due: none

chore(specs): archive packslip design and plan
  specs/archive/2026/2026-09-27-packslip-design.md
  specs/archive/2026/2026-09-27-packslip-plan.md
Due: none

refactor(ci): move the packslip manifest check into toolr ci packslip-check
  tests/test_tools_ci_packslip.py
  tools/ci.py
Due: none

docs(packslip): fix release-age/identity wording and don't imply a pinned version exists yet
  README.md
  docs/installation/index.md
  docs/installation/mise.md
  docs/quickstart.md
  docs/skills.md
Due: update-doc-stubs

fix(ci): satisfy mypy in tools/ci.py's generate-build-matrix
  tools/ci.py
Due: none

ci(renovate): bump the packslip CLI pin together with the action
  .github/workflows/ci.yml
  renovate.json5
Due: none

fix(packslip): require each skill resource's repo path to be skills/<name>
  .github/scripts/packslip-check.sh
Due: none

docs: document installing toolr and its skills through mise's packslip backend
  README.md
  UNRELEASED.md
  docs/installation/mise.md
  docs/skills.md
  specs/2026-09-27-packslip-design.md
Due: update-doc-stubs

docs(mise): don't imply a version cut-over in the aqua fallback example
  docs/installation/mise.md
Due: update-doc-stubs

fix(release): publish the packslip after a partial release failure and pin the verify identity
  .github/workflows/release.yml
Due: none

ci(packslip): bind the CLI attestation to its release tag
  .github/workflows/ci.yml
Due: none

docs(specs): document packslip partial-failure recovery and the CLI install path
  specs/2026-09-27-packslip-design.md
Due: none

ci(packslip): run the manifest check through toolr and verify the packslip CLI attestation
  .github/packslip.toml
  .github/scripts/packslip-check.sh
  .github/workflows/ci.yml
Due: none

deploy: 12c47a0f72b66659d5b5c07b109f66231f321d53
  changelog/index.html
  internals/manifest/index.html
  search/search_index.json
  skills/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/context/index.html
  writing-commands/docstrings/index.html
  writing-commands/files/calculator.py
  writing-commands/files/docstrings-example.py
  writing-commands/files/example.py
  writing-commands/files/files-list.py
  writing-commands/files/files-star-args.py
  writing-commands/files/flags-example.py
  writing-commands/files/hello.py
  writing-commands/files/literal-choices.py
  writing-commands/files/nesting-example.py
  writing-commands/files/system.py
  writing-commands/index.html
  writing-commands/known-bugs/index.html
  writing-commands/nesting/index.html
Due: none

deploy: 3a48f8a88bb251f545e724ec621ab28a4e7e1fdb
  changelog/index.html
  installation/index.html
  installation/mise/index.html
  quickstart/index.html
  search/search_index.json
  skills/index.html
Due: none

deploy: 178f824752d0ae165620eb3e6440cd5eea44db0b
  changelog/index.html
  search/search_index.json
Due: none

test(cli): cover unknown arg() keywords failing the manifest build
  crates/toolr/tests/build_manifest_cli.rs
  crates/toolr/tests/freshness_dispatch.rs
Due: cargo-check, clippy

docs: note that unknown arg() keywords now fail the manifest build
  UNRELEASED.md
Due: none

fix(parser): reject unknown arg() keywords at manifest build (#500)
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
  crates/toolr-core/src/parser/types/arg_metadata.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/path_constraints.rs
  crates/toolr-core/src/parser/types/resolve.rs
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

fix(parser): check nested and aliased arg() calls, only toolr's (#500)
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
