Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

refactor(manifest): rename dynamic_hash to third_party_hash
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/dynamic/hash.rs
  crates/toolr-core/src/dynamic/merge.rs
  crates/toolr-core/src/dynamic/mod.rs
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/tests.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/third_party/model.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/src/main.rs
  crates/toolr/tests/cli_smoke.rs
  crates/toolr/tests/dispatch_coverage.rs
  crates/toolr/tests/dynamic_e2e.rs
  docs/internals/manifest.md
Due: update-doc-stubs, cargo-check, clippy

feat(manifest): add Origin::ThirdParty for glob-merged entries
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/tests.rs
Due: cargo-check, clippy

feat(dynamic): hash third-party manifests instead of dist-info
  crates/toolr-core/src/dynamic/hash.rs
  crates/toolr/tests/dynamic_e2e.rs
Due: cargo-check, clippy

refactor(dispatch): remove execute-time dynamic-layer freshness
  crates/toolr-core/src/dynamic/mod.rs
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy

feat(toolr-py)!: drop toolr.commands entry-point plugin support
  crates/toolr-py/python/toolr/_introspect.py
  crates/toolr-py/python/toolr/testing.py
  tests/conftest.py
  tests/introspect/test_introspect_entry_points.py
  tests/introspect/test_introspect_unit.py
  tests/registry/test_integration.py
Due: none

feat(toolr-core): add freshness::compare for shared dispatch/tab logic
  crates/toolr-core/src/dynamic/hash.rs
  crates/toolr-core/src/dynamic/mod.rs
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/freshness/mod.rs
  crates/toolr-core/src/freshness/tests.rs
  crates/toolr-core/src/lib.rs
Due: cargo-check, clippy

refactor(complete): use freshness::compare in resolve_manifest_at_tab
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/complete/mod.rs
  crates/toolr-core/src/complete/tests.rs
Due: cargo-check, clippy

feat(toolr): add ensure_manifest_fresh bootstrap step
  crates/toolr-core/src/manifest/io.rs
  crates/toolr/src/bootstrap.rs
Due: cargo-check, clippy

feat(toolr): refresh manifest before clap parses argv
  crates/toolr/src/bootstrap.rs
  crates/toolr/src/main.rs
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy

test(toolr): regression — added tools/*.py is detected on dispatch
  crates/toolr/tests/freshness_dispatch.rs
Due: cargo-check, clippy

test(toolr): syntax error in tools/ soft-fails with cached fallback
  crates/toolr/tests/freshness_dispatch.rs
Due: cargo-check, clippy

test(toolr): bypass argv (self/project/--version) skips freshness
  crates/toolr/tests/freshness_dispatch.rs
Due: cargo-check, clippy

test(toolr): tab completion never persists the manifest
  crates/toolr/tests/freshness_dispatch.rs
Due: cargo-check, clippy

docs(unreleased): note entry-point removal and dispatch freshness
  UNRELEASED.md
Due: none

docs(third-party): plugin-author guide for shipping toolr-manifest.json
  docs/third-party.md
Due: update-doc-stubs

fix(freshness): skip third-party axis when venv_dir is None
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/freshness/tests.rs
  crates/toolr-core/src/manifest/model.rs
Due: cargo-check, clippy

fix(ci): declare Rust toolchain for ReadTheDocs maturin build
  .readthedocs.yaml
Due: none

fix(ci): pin RTD Rust to 1.93+ for ruff workspace deps
  .readthedocs.yaml
Due: none

feat(examples): canonical plugin example shipping toolr-manifest.json
  .github/workflows/_test.yml
  crates/toolr-py/python/toolr/build.py
  crates/toolr-py/python/toolr/testing.py
  examples/plugin-package/README.md
  examples/plugin-package/pyproject.toml
  examples/plugin-package/src/toolr_example_plugin/__init__.py
  examples/plugin-package/src/toolr_example_plugin/commands.py
  examples/plugin-package/src/toolr_example_plugin/toolr-manifest.json
  pyproject.toml
  tests/distribution/test_example_plugin_contract.py
  tests/support/3rd-party-pkg/README.md
  tests/support/3rd-party-pkg/pyproject.toml
  tests/support/3rd-party-pkg/thirdparty/__init__.py
  tests/support/3rd-party-pkg/thirdparty/commands.py
  uv.lock
Due: none

fix(ci): bypass asdf-rust on RTD, install rustup stable directly
  .readthedocs.yaml
Due: none

docs(specs): design for pure-Rust toolr self build-manifest
  specs/2026-05-22-rust-build-manifest-design.md
Due: none

test(distribution): pull toolr + toolr-py wheels from wheelhouse
  tests/distribution/test_example_plugin_contract.py
Due: none

fix(bootstrap): merge third-party fragments in rebuild_manifest_full
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr/tests/dynamic_e2e.rs
Due: cargo-check, clippy

fix(dispatch): resolve venv Python on Windows for self build-manifest
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy

test(distribution): make_uv_venv fixture for cross-OS venv setup
  tests/distribution/conftest.py
  tests/distribution/test_example_plugin_contract.py
Due: none

fix(third-party): glob both Lib and lib/python* venv layouts
  crates/toolr-core/src/third_party/glob.rs
Due: cargo-check, clippy

docs(specs): implementation plan for pure-Rust toolr self build-manifest
  specs/2026-05-22-rust-build-manifest-plan.md
Due: none

feat(build_fragment): stable JSON serialisation matching Python output
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/lib.rs
Due: cargo-check, clippy

feat(build_fragment): scaffold pure-Rust manifest fragment builder
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/lib.rs
  crates/toolr-core/src/parser/mod.rs
Due: cargo-check, clippy

refactor(parser): factor list_python_files + module_path_for_prefix for reuse
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/mod.rs
Due: cargo-check, clippy

test(build_fragment): use include_str! for example plugin fixture
  crates/toolr-core/src/build_fragment.rs
  specs/2026-05-22-rust-build-manifest-plan.md
Due: cargo-check, clippy

test(build_fragment): equivalence vs committed example plugin manifest
  crates/toolr-core/src/build_fragment.rs
  examples/plugin-package/src/toolr_example_plugin/toolr-manifest.json
Due: cargo-check, clippy

feat(toolr/cli): source+package resolution for build-manifest
  Cargo.lock
  crates/toolr/Cargo.toml
  crates/toolr/src/build_manifest_resolve.rs
  crates/toolr/src/main.rs
Due: cargo-check, clippy

feat(parser): backfill allowed_values from Literal aliases via resolved_type
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/commands.rs
Due: cargo-check, clippy

test(build_fragment): filtering + edge-case coverage
  crates/toolr-core/src/build_fragment.rs
Due: cargo-check, clippy

feat(parser): support call-form @group.command and positional description
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/groups.rs
Due: cargo-check, clippy

feat(dispatch): rewire self build-manifest to pure-Rust path
  crates/toolr/src/build_manifest_resolve.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/dispatch_coverage.rs
Due: cargo-check, clippy

test(toolr): integration coverage for self build-manifest CLI
  crates/toolr/tests/build_manifest_cli.rs
Due: cargo-check, clippy

test: drop Python build_manifest tests superseded by Rust path
  tests/build_manifest/__init__.py
  tests/build_manifest/test_build_manifest.py
  tests/build_manifest/test_round_trip_with_rust.py
Due: none

feat(cli): add --source-dir/--package, remove --python from build-manifest
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy
