Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

docs: note nested arg() checks and argparse-keyword hints (#500)
  UNRELEASED.md
Due: none

fix(parser): scope arg() checks to what each module can see (#500)
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
  crates/toolr-core/src/parser/types/resolve.rs
Due: cargo-check, clippy

fix(parser): follow star-imported aliases and binding order in arg() check (#500)
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
Due: cargo-check, clippy

fix(parser): don't guess aliases behind unparsed star imports (#500)
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/symbols.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
Due: cargo-check, clippy

test(parser): cover the arg() check's remaining branches (#500)
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
  crates/toolr-core/src/parser/types/mod.rs
Due: cargo-check, clippy

docs(skills): cover external command sources in the authoring skill (#507)
  UNRELEASED.md
  crates/toolr-py/python/toolr/sources/_dispatch.py
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/sections.rs
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/references/commands.md
  skills/toolr-command-authoring/references/external-sources.md
  skills/toolr-command-authoring/tests/triggers.yaml
Due: cargo-check, clippy

fix(xtask): make the docs section extractor faithful to mkdocs (#505)
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/self_contained.rs
  docs/writing-commands/arguments.md
  skills/toolr-command-authoring/references/arguments.md
Due: update-doc-stubs, cargo-check, clippy

deploy: 3dabf97bdb90d1061ba3cbe7caf45887d4c0f981
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 669cd2b29aff108c05d7e2b7af7bd2db4b7bfb1b
  changelog/index.html
  search/search_index.json
Due: none

deploy: a39954d4049f42c8213438f20d6983fddd55d141
  changelog/index.html
  search/search_index.json
  writing-commands/arguments/index.html
  writing-commands/external-sources/index.html
Due: none

deploy: 2239da3fce2d9f8db72cfdfddb0197dc14c6b502
  changelog/index.html
  search/search_index.json
Due: none

deploy: 128a45731b6642f6d2d1246b1ec16556d2800003
  changelog/index.html
  search/search_index.json
Due: none

feat(parser)!: fail the manifest build on commands without a docstring (#501)
  UNRELEASED.md
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/commands.rs
  crates/toolr/tests/build_manifest_cli.rs
  crates/toolr/tests/freshness_dispatch.rs
  docs/writing-commands/docstrings.md
  skills/toolr-command-authoring/SKILL.md
Due: update-doc-stubs, cargo-check, clippy

feat(decorators)!: reject undocumented commands at import and refuse -OO (#501)
  UNRELEASED.md
  crates/toolr-py/python/toolr/_decorators.py
  docs/writing-commands/docstrings.md
  skills/toolr-command-authoring/SKILL.md
  tests/decorators/test_decorators_unit.py
  tests/registry/test_integration.py
  tests/runner/test_current_context.py
  tests/runner/test_dispatch.py
  tests/runner/test_runner_coverage.py
  tests/sources/test_e2e.py
Due: update-doc-stubs

docs(third-party): ship the manifest via setuptools package-data (#506)
  UNRELEASED.md
  docs/third-party.md
Due: update-doc-stubs

docs(third-party): fix the hatchling recipe and fragment-schema claim (#506)
  UNRELEASED.md
  docs/third-party.md
Due: update-doc-stubs

deploy: af6c603e6c3760cc964fbaebfb31547c54b10f36
  changelog/index.html
  reference/command/index.html
  reference/command_group/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/docstrings/index.html
Due: none

fix(xtask): lint the files a skill ships, not its directory tree (#504)
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

fix(xtask): flag backticked `../` paths missing inside the skill (#504)
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

fix(xtask): report malformed Markdown at the offending line (#504)
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

fix(xtask): match repo URLs on a path-segment boundary (#504)
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

fix(xtask): lint prefixed HTML href/src attributes (#504)
  crates/xtask/src/build_skill_refs/docs_section.rs
  crates/xtask/src/build_skill_refs/self_contained.rs
Due: cargo-check, clippy

fix(console): drop dim modifier from log-debug/log-info styles
  UNRELEASED.md
  crates/toolr-py/python/toolr/utils/_console.py
Due: none

deploy: fb9fa9e04feaa090054ada2a34e7382d2bd53350
  changelog/index.html
  search/search_index.json
  third-party/index.html
Due: none

deploy: e1bc97e45753bb7c2c5c9b989611434b53748b5c
  changelog/index.html
  search/search_index.json
Due: none

refactor(parser): build the type catalogue from an exhaustive kind mirror (#503)
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

docs(contributing): add a checklist for adding a supported type (#503)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

deploy: d4e489ec45bade090b6eea50a0d93423f10c0767
  changelog/index.html
  search/search_index.json
Due: none

docs(specs): state the plugin type-checking gap precisely
  specs/2026-09-29-path-state-types-design.md
Due: none

docs(specs): cover xtask, docs and local-cache fallout in path-state types design
  specs/2026-09-29-path-state-types-design.md
Due: none

docs(specs): enforce manifest schema bump, keep fragment schema, place checks in rust
  specs/2026-09-29-path-state-types-design.md
Due: none

docs(specs): adopt pydantic-style path type names, record rejected composite form
  specs/2026-09-29-path-state-types-design.md
Due: none

docs(specs): design path-state types for toolr.types (#502)
  specs/2026-09-29-path-state-types-design.md
Due: none

deploy: 977a19b164a72981c9a9e7cf348b3eb5c4475087
  changelog/index.html
  contributing/index.html
  search/search_index.json
Due: none

docs(specs): add path-state types implementation plan (#502)
  specs/2026-09-29-path-state-types-design.md
  specs/2026-09-29-path-state-types-plan.md
Due: none

docs(specs): correct the derived-path typing claim and pin the suggestion path
  specs/2026-09-29-path-state-types-design.md
  specs/2026-09-29-path-state-types-plan.md
Due: none

feat(types): add path-state types with clap-side checks (#502)
  Cargo.lock
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
  crates/toolr-core/src/parser/types/supported.rs
  crates/toolr/Cargo.toml
  crates/toolr/src/value_parsers.rs
  docs/writing-commands/files/supported-types.md
  skills/toolr-command-authoring/references/types.md
Due: update-doc-stubs, cargo-check, clippy

fix(execute): read every path type back as a path (#502)
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

feat(types)!: remove arg(must_*) in favour of path types (#502)
  crates/toolr-core/src/argparse/scan.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/execute/spec.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/mod.rs
  crates/toolr-core/src/parser/signatures.rs
  crates/toolr-core/src/parser/types/arg_keywords.rs
  crates/toolr-core/src/parser/types/arg_metadata.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/path_constraints.rs
  crates/toolr-core/src/parser/types/resolve.rs
  crates/toolr-core/src/parser/types/supported.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-py/python/toolr/utils/_signature.py
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/execute_build.rs
  crates/toolr/src/value_parsers.rs
  crates/toolr/tests/build_manifest_cli.rs
  crates/toolr/tests/freshness_dispatch.rs
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/build_skill_refs/types.rs
  crates/xtask/tests/coverage.rs
  docs/skills.md
  docs/writing-commands/annotations.md
  docs/writing-commands/arguments.md
  docs/writing-commands/files/path-constraints.md
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/references/arguments.md
  skills/toolr-command-authoring/references/commands.md
  skills/toolr-command-authoring/references/types.md
  tests/utils/signature/test_argument_annotation.py
Due: update-doc-stubs, cargo-check, clippy

feat(manifest): bump schema to 2 and rebuild caches on a schema mismatch (#502)
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/freshness/tests.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr/tests/cli_smoke.rs
  skills/toolr-command-authoring/examples/toolr-manifest.json
  skills/toolr-command-packaging/references/packaging.md
Due: cargo-check, clippy
