Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

venv-core: replace run_uv_lock_upgrade with general run_uv_lock
  crates/toolr-core/src/venv/mod.rs
  crates/toolr-core/src/venv/sync.rs
  crates/toolr/src/project.rs
Due: cargo-check, clippy

venv-core: add edit module with run_uv_add + run_uv_remove
  crates/toolr-core/src/venv/edit.rs
  crates/toolr-core/src/venv/mod.rs
  crates/toolr-core/src/venv/sync.rs
Due: cargo-check, clippy

venv-core: thread UpgradeMode through EnsureOpts
  crates/toolr-core/src/project.rs
Due: cargo-check, clippy

venv sync: add -U / -P (uv upgrade flags) + pyproject guard for -P
  crates/toolr/src/cli.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/project_venv_sync.rs
Due: cargo-check, clippy

venv lock: new subcommand wrapping uv lock with -U / -P
  crates/toolr/src/cli.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/project_venv_lock.rs
Due: cargo-check, clippy

venv add/remove: new subcommands wrapping uv add / uv remove
  crates/toolr/src/cli.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/project_venv_add.rs
  crates/toolr/tests/project_venv_remove.rs
Due: cargo-check, clippy

venv upgrade: remove subcommand (replaced by sync -U / -P)
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/project_venv_upgrade.rs
Due: cargo-check, clippy

docs: regenerate cli-files snippets for venv lock/add/remove + sync -U/-P
  .pre-commit-hooks/regen-doc-snippets.py
  docs/cli-files/project-venv-add-help.txt
  docs/cli-files/project-venv-lock-help.txt
  docs/cli-files/project-venv-remove-help.txt
  docs/cli-files/project-venv-sync-help.txt
Due: none

deploy: 3912a89afa14514fced03c756ba5a9c9e983c0fc
  changelog/index.html
  cli-files/project-deps-sync-help.txt
  cli-files/project-venv-sync-help.txt
  cli/index.html
  concepts/index.html
  contributing/index.html
  installation/mise/index.html
  internals/diagnostics/index.html
  project-config/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

docs: cover venv lock/add/remove and migrate venv upgrade references
  docs/cli.md
  docs/project-config.md
Due: update-doc-stubs

changelog: document venv upgrade removal + new lock/add/remove + sync -U/-P
  CHANGELOG.md
Due: none

specs: archive venv-uv-parity design + plan (implemented)
  specs/archive/2026/2026-06-02-venv-uv-parity-design.md
  specs/archive/2026/2026-06-02-venv-uv-parity-plan.md
Due: none

tests: cover venv handler success paths via stub-uv + fake-venv fixture
  crates/toolr/src/project.rs
  crates/toolr/tests/common/mod.rs
  crates/toolr/tests/project_venv_add.rs
  crates/toolr/tests/project_venv_lock.rs
  crates/toolr/tests/project_venv_remove.rs
  crates/toolr/tests/project_venv_sync.rs
Due: cargo-check, clippy

deploy: e1926fcbd70f8c47a9c97b9c841867dae9381296
  changelog/index.html
  cli-files/project-venv-add-help.txt
  cli-files/project-venv-lock-help.txt
  cli-files/project-venv-remove-help.txt
  cli-files/project-venv-sync-help.txt
  cli/index.html
  project-config/index.html
  search/search_index.json
Due: none

ci: bump throttle action max-sleep default to 15s
  .github/actions/throttle/action.yml
Due: none

deploy: c6c2b621a58bef4a5e693469253d3412280400d8
  changelog/index.html
  search/search_index.json
Due: none

refactor(tests): drop `del fixture` pattern via autouse / usefixtures
  tests/decorators/test_decorators_unit.py
  tests/introspect/test_introspect_unit.py
Due: none

fix(parser): split command_group docstring into title + description
  UNRELEASED.md
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/groups.rs
  crates/toolr-core/src/parser/mod.rs
  crates/toolr-py/python/toolr/_decorators.py
  skills/toolr-command-authoring/examples/toolr-manifest.json
  skills/toolr-command-authoring/references/commands.md
  tests/registry/test_command_group_errors.py
Due: cargo-check, clippy

deploy: ea2e60c03fcd2b905cd21493100049cb603b30b6
  changelog/index.html
  reference/command_group/index.html
  search/search_index.json
Due: none

fix(parser): route description through full_description; --help shows Examples/Notes
  UNRELEASED.md
  crates/toolr-core/src/docstrings.rs
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/groups.rs
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr-py/python/toolr/utils/_docstrings.py
  crates/toolr-py/src/lib.rs
  crates/toolr/src/cli.rs
  docs/quickstart-files/example-setlog-help.txt
  docs/writing-commands/files/calculator-add-help.txt
  docs/writing-commands/files/hello-help.txt
  docs/writing-commands/files/literal-choices-help.txt
  examples/plugin-package/src/toolr_example_plugin/toolr-manifest.json
  skills/toolr-command-authoring/examples/toolr-manifest.json
  tests/decorators/test_decorators_unit.py
  tests/registry/test_command_group_errors.py
Due: cargo-check, clippy

test(docstrings): direct coverage for full_description sections
  crates/toolr-core/src/docstrings/full_description_test.rs
  crates/toolr-core/src/docstrings/tests.rs
Due: cargo-check, clippy

fix(coverage): rewrite venv paths back to source; ratchet codecov per-crate
  .codecov.yml
  .coveragerc
Due: none

deploy: 2e9d32d02e9f6d51f75e25ff0bdfc25331045fdd
  changelog/index.html
  quickstart-files/example-setlog-help.txt
  reference/command_group/index.html
  search/search_index.json
  writing-commands/arguments/index.html
  writing-commands/files/calculator-add-help.txt
  writing-commands/files/hello-help.txt
  writing-commands/files/literal-choices-help.txt
Due: none

fix(coverage): switch source to package name so wheel-installed hits count
  .coveragerc
Due: none

deploy: d36100c071c62d30fb1ecd092ae3123f8b6e6c8b
  changelog/index.html
  search/search_index.json
Due: none

fix(complete): always offer self/project built-ins, even outside a toolr project
  UNRELEASED.md
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/complete_smoke.rs
Due: cargo-check, clippy

docs(agent): add CLAUDE.md with workspace facts and agent behavior rules
  .gitignore
  CLAUDE.md
Due: none

deploy: 188ca07125355e4e0148db147369fab163b1fc5b
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

build(deps): bump Rust workspace dependencies
  Cargo.lock
  Cargo.toml
Due: none

build(deps-dev): bump Python dependencies
  uv.lock
Due: none

build(deps): bump GitHub Actions
  .github/workflows/_build-binary-archive.yml
  .github/workflows/_build.yml
  .github/workflows/_prepare-release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_distribution.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/sync-rolling-tags.yml
Due: none

docs(unreleased): note bundled dependency upgrade
  UNRELEASED.md
Due: none

fix(tools/bench): account for `:` in right-aligned separator width
  tools/bench.py
Due: none

ci: run `toolr bench compare` against built artifacts on Linux/macOS/Windows
  .github/workflows/ci.yml
Due: none

deploy: e3549bbd0f6dfd88a7ad6c578270b1498e05644f
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

f
  .github/workflows/ci.yml
Due: none

ci: bench toolr startup against built artifacts on Linux/macOS/Windows
  .github/workflows/_bench.yml
  .github/workflows/ci.yml
Due: none

ci: bench `toolr` startup against built artifacts on Linux/macOS/Windows
  .github/workflows/_bench.yml
  .github/workflows/ci.yml
Due: none

deploy: 2947d6a5688bd815002384b458e835815f2608dd
  changelog/index.html
  search/search_index.json
Due: none

refactor(bench): move to scripts/ as a stdlib-only script
  CONTRIBUTING.md
  README.md
  UNRELEASED.md
  scripts/bench.py
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
