Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

deploy: 2007ce0c72bbf2dc4e103cbc6f710ecb245f5358
  changelog/index.html
  search/search_index.json
Due: none

fix(version): drop spurious `= None` default on bump's positional
  tools/version.py
Due: none

ci(release): drop --locked on `cargo install cross`
  .github/workflows/_build-binary-archive.yml
Due: none

ci(build): drop `cross`, build musl natively, run full matrix on main
  .github/workflows/_build-binary-archive.yml
  .github/workflows/ci.yml
  tools/ci.py
Due: none

ci(matrix): label-driven opt-in + write the *why* to job summary
  .github/workflows/ci.yml
  tools/ci.py
Due: none

fix(release): pass --new-version as a flag, restore bump's `= None` default
  .github/workflows/_prepare-release.yml
  tools/version.py
Due: none

ci(throttle): add a GitHub Action to throttle workflow run builds
  .github/actions/throttle/action.yml
  .github/workflows/_build-binary-archive.yml
  .github/workflows/_build.yml
  .github/workflows/_prepare-release.yml
Due: none

ci: Switch from `Literal` to `StrEnum`
  tools/ci.py
Due: none

docs(installation): align quickstart + install index with README
  docs/installation/index.md
  docs/quickstart.md
  installation/mise/README.md
Due: update-doc-stubs

feat(arg): validate aliases / conflicts_with / requires kwargs
  crates/toolr-core/src/parser/types/literals.rs
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-py/python/toolr/utils/_signature.py
  crates/toolr/tests/conflicts_with_dispatch.rs
  tests/utils/signature/test_argument_annotation.py
Due: cargo-check, clippy

deploy: 05961d4f461f32d93655666afa32e9547a4988d7
  changelog/index.html
  installation/index.html
  quickstart/index.html
  reference/arg/index.html
  search/search_index.json
Due: none

feat(venv): TOOLR_VENV_LOCATION env var overrides venv-location config
  crates/toolr-core/src/venv/config.rs
  crates/toolr-core/src/venv/resolve.rs
Due: cargo-check, clippy

feat(action): binary-download + SLSA attest install for setup-toolr
  action.yml
Due: none

feat(mise): minimum toolr 0.20.0 + verify SLSA build provenance
  installation/mise/bin/download
  installation/mise/bin/install
Due: none

chore: update workflows + docs for new setup-toolr action shape
  .github/workflows/_prepare-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync-rolling-tags.yml
  UNRELEASED.md
  docs/project-config.md
Due: update-doc-stubs

fix(action): run `toolr project deps sync` + cache the resolved venv path
  action.yml
Due: none

fix(action): drive uv sync directly with --no-default-groups + --frozen
  action.yml
Due: none

fix(install-smoke): PS7 latest-version resolver + mise plugin link
  .github/workflows/install-smoke.yml
  installation/install.ps1
Due: none

test(install-smoke): exercise mise plugin via canonical URL form
  .github/workflows/install-smoke.yml
Due: none

ci(install-smoke): add pull_request trigger + gate remote-only jobs
  .github/workflows/install-smoke.yml
Due: none

fix(mise): authenticate list-all against api.github.com when possible
  installation/mise/bin/list-all
Due: none

fix(mise): also authenticate bin/download against github.com
  installation/mise/bin/download
Due: none

feat(mise): prefer 'gh' CLI over curl/wget for github.com hits
  installation/mise/bin/download
  installation/mise/bin/list-all
Due: none

deploy: 6f2cc874972cce0d1e896d73cf7b9b59a342408f
  changelog/index.html
  project-config/index.html
  search/search_index.json
Due: none

feat(config): add .rustfmt.toml + .editorconfig with 100-col policy
  .editorconfig
  .rustfmt.toml
Due: none

style(python): split ruff line-length (format 100, lint 120) + reformat
  .pre-commit-hooks/regen-doc-snippets.py
  crates/toolr-py/python/toolr/_context.py
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr-py/python/toolr/testing.py
  crates/toolr-py/python/toolr/utils/_signature.py
  crates/toolr-py/python/toolr/utils/command.py
  pyproject.toml
  tests/conftest.py
  tests/context/test_prompt.py
  tests/decorators/test_decorators_unit.py
  tests/distribution/test_cross_wheel.py
  tests/distribution/test_example_plugin_contract.py
  tests/distribution/test_toolr_py_wheel.py
  tests/distribution/test_toolr_wheel.py
  tests/introspect/test_introspect_unit.py
  tests/registry/test_command_group_errors.py
  tests/registry/test_integration.py
  tests/runner/test_runner_coverage.py
  tests/sources/test_e2e.py
  tests/utils/command/conftest.py
  tests/utils/command/test_command.py
  tests/utils/docstrings/test_advanced_features.py
  tests/utils/docstrings/test_fuzzing.py
  tests/utils/logs/test_duplicate_times_formatter.py
  tests/utils/logs/test_level_filter.py
  tests/utils/logs/test_setup.py
  tests/utils/signature/test_get_signature.py
  tests/utils/signature/test_integration.py
  tools/bench.py
  tools/ci.py
  tools/version.py
Due: none

deploy: 51dee02e79dd06bdcec9abacdd34d0e9ae91b15a
  changelog/index.html
  search/search_index.json
Due: none

style(docs): enable MD013 with 120-char ceiling + reflow long lines
  .rumdl.toml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/cli.md
  docs/writing-commands/testing.md
  specs/README.md
Due: update-doc-stubs

docs(specs): add toolr command-authoring skill design
  specs/2026-05-21-toolr-command-authoring-skill-design.md
Due: none

docs(specs): drop python introspection subprocess from skill-refs generator
  specs/2026-05-21-toolr-command-authoring-skill-design.md
  specs/2026-05-21-toolr-command-packaging-skill-design.md
Due: none

docs(specs): add toolr command-packaging skill design
  specs/2026-05-21-toolr-command-authoring-skill-design.md
  specs/2026-05-21-toolr-command-packaging-skill-design.md
Due: none

docs(specs): use toolr.__all__ as the public-surface contract for skill-refs
  specs/2026-05-21-toolr-command-authoring-skill-design.md
Due: none

docs(specs): packaging skill anchors on examples/plugin-package and new CLI surface
  specs/2026-05-21-toolr-command-packaging-skill-design.md
Due: none

feat(xtask): scaffold maintainer-only crates/xtask/ workspace crate
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/xtask/Cargo.toml
  crates/xtask/src/build_skill_refs/mod.rs
  crates/xtask/src/cli.rs
  crates/xtask/src/main.rs
Due: cargo-check, clippy

feat(docstrings): expose KNOWN_SECTION_HEADERS as introspectable table
  crates/toolr-core/src/docstrings.rs
  crates/toolr-core/src/docstrings/known_headers_test.rs
  crates/toolr-core/src/docstrings/tests.rs
Due: cargo-check, clippy

docs(specs): add docstring conventions; reuse toolr-core parser/docstrings
  specs/2026-05-21-toolr-command-authoring-skill-design.md
Due: none

docs(specs): consolidated plan for authoring + packaging skills
  specs/2026-05-26-toolr-skills-plan.md
Due: none

feat(skills): author skill prose for toolr-command-authoring
  skills/toolr-command-authoring/README.md
  skills/toolr-command-authoring/REVIEW.md
  skills/toolr-command-authoring/SKILL.md
  skills/toolr-command-authoring/tests/triggers.yaml
Due: none

feat(skills): author skill prose for toolr-command-packaging
  skills/toolr-command-packaging/README.md
  skills/toolr-command-packaging/REVIEW.md
  skills/toolr-command-packaging/SKILL.md
  skills/toolr-command-packaging/tests/triggers.yaml
Due: none

test(xtask)+ci: idempotency + coverage tests, prek hook, CI gate
  .github/workflows/_test.yml
  .pre-commit-config.yaml
  crates/xtask/tests/coverage.rs
  crates/xtask/tests/idempotency.rs
  mise.toml
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
