Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

feat(types): expose path types as NewTypes in toolr.types (#502)
  crates/toolr-py/python/toolr/types/__init__.py
  tests/runner/test_path_type_coercion.py
  tests/test_types_module.py
  tests/test_types_static.py
Due: none

test(cli): pin path-type rejections end to end (#502)
  crates/toolr/tests/path_types_dispatch.rs
Due: cargo-check, clippy

docs(types): document path types and the arg(must_*) removal (#502)
  CONTRIBUTING.md
  UNRELEASED.md
  crates/xtask/tests/idempotency.rs
  docs/internals/manifest.md
  docs/writing-commands/known-bugs.md
  skills/toolr-command-authoring/SKILL.md
  tests/test_tools_ci_packslip.py
Due: update-doc-stubs, cargo-check, clippy

fix(types): tighten path-check errors and document path-type limits (#502)
  UNRELEASED.md
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr/src/value_parsers.rs
  docs/internals/manifest.md
  docs/writing-commands/annotations.md
  docs/writing-commands/arguments.md
  skills/toolr-command-authoring/references/arguments.md
Due: update-doc-stubs, cargo-check, clippy

fix(runner): report an unknown arg() keyword at import as a clear error (#502)
  UNRELEASED.md
  crates/toolr-py/python/toolr/_runner.py
  docs/writing-commands/annotations.md
  tests/runner/test_runner_coverage.py
Due: update-doc-stubs

docs(specs): archive the path-state types design and plan (#502)
  specs/archive/2026/2026-09-29-path-state-types-design.md
  specs/archive/2026/2026-09-29-path-state-types-plan.md
Due: none

fix(runner): catch a removed arg() keyword when annotations evaluate lazily (#502)
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_runner_coverage.py
Due: none

fix(types): hand Windows canonical paths back without the \\?\ prefix (#502)
  Cargo.lock
  Cargo.toml
  crates/toolr/Cargo.toml
  crates/toolr/src/value_parsers.rs
  crates/toolr/tests/path_types_dispatch.rs
Due: cargo-check, clippy

test(types): make the stale-keyword and permission tests hold on every Python and user
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr/src/value_parsers.rs
  tests/runner/test_runner_coverage.py
Due: cargo-check, clippy

docs(unreleased): note plain canonical paths on Windows (#502)
  UNRELEASED.md
Due: none

deploy: efb86265a6687a491e7fff58adc3eb320b758a66
  changelog/index.html
  contributing/index.html
  internals/manifest/index.html
  reference/arg/index.html
  search/search_index.json
  skills/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/known-bugs/index.html
Due: none

docs(specs): design plugin command parity and fragment v2 (#520)
  specs/2026-09-29-plugin-parity-design.md
Due: none

docs(specs): fold adversarial review into the plugin parity design (#520)
  specs/2026-09-29-plugin-parity-design.md
Due: none

docs(specs): state the full-path group identity invariant (#520)
  specs/2026-09-29-plugin-parity-design.md
Due: none

docs(specs): warn when a local command hides a plugin command (#520)
  specs/2026-09-29-plugin-parity-design.md
Due: none

docs(specs): fold second adversarial review into the plugin parity design (#520)
  specs/2026-09-29-plugin-parity-design.md
Due: none

fix(manifest): dedup groups by full path, not leaf name (#520)
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr/src/bootstrap.rs
Due: cargo-check, clippy

refactor(parser): share one builder between tools/ and plugins (#520)
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/mod.rs
Due: cargo-check, clippy

docs(specs): plan the plugin parity implementation (#520)
  specs/2026-09-29-plugin-parity-plan.md
Due: none

test(manifest): cover host title winning and no-venv carry-forward (#520)
  UNRELEASED.md
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr/tests/plugin_warnings.rs
Due: cargo-check, clippy

docs(plugins): state the toolr 0.34.0 requirement for rebuilt plugins (#520)
  UNRELEASED.md
  docs/third-party.md
Due: update-doc-stubs

docs(specs): archive the plugin parity design and plan (#520)
  specs/archive/2026/2026-09-29-plugin-parity-design.md
  specs/archive/2026/2026-09-29-plugin-parity-plan.md
Due: none

docs(plugins): document fragment v2, the load rule and plugin warnings (#520)
  CONTRIBUTING.md
  UNRELEASED.md
  crates/xtask/src/build_skill_refs/packaging.rs
  docs/cli.md
  docs/third-party.md
  skills/toolr-command-packaging/SKILL.md
  skills/toolr-command-packaging/references/packaging.md
Due: update-doc-stubs, cargo-check, clippy

feat(manifest): record the schema each type and field arrived in (#520)
  CONTRIBUTING.md
  crates/toolr-core/src/manifest/mod.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/schema.rs
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

feat(manifest): skip unloadable plugins and record plugin warnings (#520)
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/freshness/tests.rs
  crates/toolr-core/src/manifest/mod.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/tests.rs
  crates/toolr-core/src/manifest_build/rebuild.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/mod.rs
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr-core/tests/plugin_parity.rs
  crates/toolr/src/bootstrap.rs
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/src/main.rs
  skills/toolr-command-packaging/references/packaging.md
Due: cargo-check, clippy

feat(manifest)!: ship plugin fragments as full manifest commands (#520)
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/mod.rs
  crates/toolr-core/src/third_party/model.rs
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr-core/tests/manifest_schema_version_lockstep.rs
  crates/toolr-core/tests/plugin_parity.rs
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/untrusted_repo.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  docs/cli-files/self-build-manifest-help.txt
  examples/plugin-package/src/toolr_example_plugin/toolr-manifest.json
  skills/toolr-command-authoring/references/commands.md
  skills/toolr-command-packaging/references/packaging.md
Due: cargo-check, clippy

test(manifest): make the ArgumentKind and Nargs golden tables catch a forgotten variant (#520)
  crates/toolr-core/src/manifest/schema.rs
Due: cargo-check, clippy

feat(cli): warn about skipped and shadowed plugins on every run (#520)
  crates/toolr/src/main.rs
  crates/toolr/tests/plugin_warnings.rs
  crates/toolr/tests/untrusted_repo.rs
Due: cargo-check, clippy

test(cli): tighten plugin warning tests (#520)
  crates/toolr/tests/plugin_warnings.rs
Due: cargo-check, clippy

docs(specs): design plugin clash resolution (#522)
  specs/2026-09-30-plugin-clash-resolution-design.md
Due: none

deploy: 6eab57bf4fdc7758571941ac34ecf306c95a7b6e
  changelog/index.html
  cli-files/self-build-manifest-help.txt
  cli/index.html
  contributing/index.html
  reference/command/index.html
  reference/command_group/index.html
  search/search_index.json
  sitemap.xml.gz
  third-party/index.html
Due: none

docs(specs): address adversarial review of clash resolution design (#522)
  specs/2026-09-30-plugin-clash-resolution-design.md
Due: none

docs(specs): narrow #522 to disabling plugin command conflicts
  specs/2026-09-30-plugin-clash-resolution-design.md
  specs/2026-09-30-plugin-command-conflicts-design.md
Due: none

docs(specs): address adversarial review of plugin conflicts design (#522)
  specs/2026-09-30-plugin-command-conflicts-design.md
Due: none

docs(specs): plan the plugin command conflicts change (#522)
  specs/2026-09-30-plugin-command-conflicts-plan.md
Due: none

docs(specs): address adversarial review of the plugin conflicts plan (#522)
  specs/2026-09-30-plugin-command-conflicts-plan.md
Due: none

feat(plugins): disable a command two plugins define instead of failing (#522)
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/mod.rs
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr-core/src/third_party/tests.rs
Due: cargo-check, clippy

test(plugins): cover a plugin conflict on a fresh project and its recovery (#522)
  crates/toolr/tests/plugin_warnings.rs
Due: cargo-check, clippy

docs(plugins): document disabled plugin command conflicts (#522)
  UNRELEASED.md
  crates/toolr-core/src/manifest/model.rs
  docs/third-party.md
  skills/toolr-command-packaging/SKILL.md
  skills/toolr-command-packaging/references/packaging.md
Due: update-doc-stubs, cargo-check, clippy

test(plugins): pin conflict serialisation and completion, document the local-command remedy (#522)
  UNRELEASED.md
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr/tests/plugin_warnings.rs
  docs/third-party.md
Due: update-doc-stubs, cargo-check, clippy
