Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

deploy: 5463f211a762fc0e638e594d4329c6237486b5c2
  changelog/index.html
  reference/testing/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/groups/index.html
Due: none

fix(test): use a platform-absolute path in no_warn_for_absolute_path_arg
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

docs(specs): remove editable-install design + plan (SEC-04)
  specs/2026-06-10-remove-editable-install-design.md
  specs/2026-06-10-remove-editable-install-plan.md
Due: none

refactor(venv): stop running post-sync editable installs
  crates/toolr-core/src/project.rs
Due: cargo-check, clippy

refactor(venv): drop the editable-install config field (legacy key ignored, not an error)
  crates/toolr-core/src/venv/config.rs
Due: cargo-check, clippy

docs(unreleased): note removal of editable-install (SEC-04)
  UNRELEASED.md
Due: none

docs(config): document editable installs via [tool.uv.sources]; drop editable-install
  docs/project-config.md
Due: update-doc-stubs

refactor(venv): delete the editable-install module
  crates/toolr-core/src/venv/editable.rs
  crates/toolr-core/src/venv/mod.rs
Due: cargo-check, clippy

deploy: 29af26701dbd8c9baa224b967d19116901baf804
  changelog/index.html
  project-config/index.html
  search/search_index.json
  writing-commands/context/index.html
Due: none

build(toolr-py): build a single abi3 (cp311) wheel instead of one per CPython
  .github/workflows/_bench.yml
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  Cargo.toml
  UNRELEASED.md
  crates/toolr-py/pyproject.toml
  tools/ci.py
Due: none

ci: run benches on Linux by default, with a bench-all-os opt-in
  .github/workflows/ci.yml
Due: none

deploy: e020d37d530c6f241732a983df3c9c508bcccc58
  changelog/index.html
  search/search_index.json
Due: none

ci(test): verify example-plugin manifest with the shipped toolr binary
  .github/workflows/_test.yml
Due: none

ci: add the `full-bench` label to opt PRs into the macOS+Windows benches
  .github/workflows/ci.yml
  tools/ci.py
Due: none

deploy: fcac210a9a4936ff029cd29a2d1ff26d7ac4b887
  changelog/index.html
  search/search_index.json
Due: none

refactor(core): remove the dead deps_check preflight and Command.imports
  crates/toolr-core/src/argparse/attach.rs
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/deps_check/mod.rs
  crates/toolr-core/src/deps_check/preflight.rs
  crates/toolr-core/src/deps_check/probe.rs
  crates/toolr-core/src/deps_check/tests.rs
  crates/toolr-core/src/lib.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/tests.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/model.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/src/execute_build.rs
  crates/toolr/tests/cli_smoke.rs
  docs/internals/diagnostics.md
  docs/internals/index.md
  examples/plugin-package/src/toolr_example_plugin/toolr-manifest.json
  skills/toolr-command-authoring/examples/toolr-manifest.json
  skills/toolr-command-packaging/references/packaging.md
Due: update-doc-stubs, cargo-check, clippy

refactor(toolr-py): trim retired argparse machinery from _signature.py
  UNRELEASED.md
  crates/toolr-py/python/toolr/utils/_signature.py
  tests/utils/signature/test_arg.py
  tests/utils/signature/test_get_signature.py
  tests/utils/signature/test_integration.py
  tests/utils/signature/test_kwarg.py
  tests/utils/signature/test_signature.py
Due: none

deploy: 092363787a5259df214e859e93772f78c7db0778
  changelog/index.html
  internals/diagnostics/index.html
  internals/index.html
  search/search_index.json
Due: none

deploy: 4a0f73c79d3f468367c49e92893cdc3e862bba70
  changelog/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  search/search_index.json
Due: none

fix(install): verify SLSA attestation by default (fail closed)
  .github/workflows/install-smoke.yml
  README.md
  UNRELEASED.md
  docs/installation/index.md
  docs/quickstart.md
  installation/install.ps1
  installation/install.sh
Due: update-doc-stubs

refactor(core): replace the zero-migration fragment framework with a version check
  crates/toolr-core/src/third_party/migrate.rs
  crates/toolr-core/src/third_party/mod.rs
  crates/toolr-core/src/third_party/model.rs
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/xtask/src/build_skill_refs/packaging.rs
  skills/toolr-command-packaging/references/packaging.md
Due: cargo-check, clippy

refactor(cli): derive built-in completions from clap instead of hand-mirroring
  CLAUDE.md
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy

deploy: 770da59ba260e27f4314937000c840be9dc680b0
  changelog/index.html
  search/search_index.json
Due: none

deploy: cb370b286a4582a83b9134daf938da8fd3f44afd
  changelog/index.html
  search/search_index.json
Due: none

ci: route workflow inputs through env vars (CWE-78 hardening)
  .github/actions/apply-release-patch/action.yml
  .github/actions/throttle/action.yml
  .github/workflows/_prepare-release.yml
  .github/workflows/release.yml
Due: none

ci: attest wheels on release + main pushes, not just PRs (SEC-11)
  .github/workflows/_build.yml
Due: none

fix(action): re-verify checksum + attestation on cache hit (SEC-09)
  UNRELEASED.md
  action.yml
Due: none

fix(testing): restore sys.modules when CommandsTester exits (SEC-07)
  crates/toolr-py/python/toolr/testing.py
  tests/registry/test_integration.py
Due: none

deploy: d450a5cc4f94d644fcc2451e496b8856a5606258
  changelog/index.html
  installation/index.html
  quickstart/index.html
  search/search_index.json
Due: none

deploy: 7cc2e9afb40112f4f038ad35936abdcdded2dbe3
  changelog/index.html
  search/search_index.json
Due: none

deploy: eb95e8e23043c7460a6acd7608848e1ea4cc8909
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: cbaa9c2a02f19e78b4606e48b4b57511f017d202
  changelog/index.html
  reference/testing/index.html
  search/search_index.json
Due: none

chore(mise): pin tools via mise.lock and freeze rust to 1.96.0
  UNRELEASED.md
  mise.lock
  mise.toml
Due: none

deploy: f85dfea9d791e0979d1f6c21a3386b6c47ec811c
  changelog/index.html
  search/search_index.json
Due: none

fix(mise): lock all CI test-matrix CPythons in mise.lock
  mise.lock
  mise.toml
Due: none

deploy: 4e1f27022ed42f85f60afc1f36b72116159aa5a8
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(ci): cache rust toolchain so clippy/rustfmt survive mise cache hits
  .github/actions/setup-virtualenv/action.yml
  .github/workflows/ci.yml
Due: none

chore(deps): update rust crate pyo3 to 0.29 [security]
  Cargo.lock
  Cargo.toml
Due: none

docs(writing-commands): document external command sources [DOC-01]
  UNRELEASED.md
  docs/writing-commands/external-sources.md
  mkdocs.yml
Due: update-doc-stubs

fix(context): echo ctx.run cmdline literally, not as rich markup
  UNRELEASED.md
  crates/toolr-py/python/toolr/_context.py
  tests/context/test_run.py
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
