Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

deploy: 7e1a0c7d48154a0438e1b099b96841405c5e91e7
  changelog/index.html
  search/search_index.json
Due: none

Allow running under Python 3.14
  pyproject.toml
  uv.lock
Due: none

deploy: 070dfa9e8e23a65ebb63366433dacbf449758add
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Allow passing the path of the python executable to the toolr action.
  action.yml
Due: none

docs(spec): Add Rust front-end design
  specs/2026-05-11-toolr-rust-front-end-design.md
Due: none

feat(rust): Add toolr binary target with placeholder main
  Cargo.toml
  src/bin/toolr/main.rs
Due: cargo-check, clippy

docs(spec): Draft Plan 1 (Rust binary skeleton + static manifest layer)
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/02-plan-1-rust-skeleton.md
Due: none

docs(spec): Reorganize specs/ by topic with sequenced filenames
  specs/rust-front-end/00-design.md
  specs/rust-front-end/01-roadmap.md
Due: none

docs(spec): Add implementation roadmap
  specs/2026-05-11-toolr-rust-front-end-design.md
  specs/2026-05-11-toolr-rust-front-end-roadmap.md
Due: none

docs(roadmap): Mark Plan 1 as 🔧 In Progress
  specs/rust-front-end/01-roadmap.md
Due: none

feat(manifest): Add manifest load/write with schema version validation
  Cargo.lock
  Cargo.toml
  src/manifest/io.rs
  src/manifest/mod.rs
  src/manifest/tests.rs
Due: cargo-check, clippy

feat(parser): Extract command_group() calls from module ASTs
  src/parser/groups.rs
  src/parser/mod.rs
Due: cargo-check, clippy

feat(discovery): Walk upward to locate project root from cwd
  src/discovery.rs
  src/lib.rs
Due: cargo-check, clippy

fix(gitignore): Anchor MANIFEST pattern to repo root
  .gitignore
Due: none

feat(manifest): Add manifest data model with serde round-trip tests
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/manifest/mod.rs
  src/manifest/model.rs
  src/manifest/tests.rs
Due: cargo-check, clippy

fix(discovery): Canonicalize start path and tighten error-payload assertions
  src/discovery.rs
Due: cargo-check, clippy

feat(parser): Wire ruff_python_parser for AST access
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/parser/mod.rs
Due: cargo-check, clippy

feat(hash): Deterministic hashing over tools/**/*.py contents
  Cargo.lock
  Cargo.toml
  src/hash.rs
  src/lib.rs
Due: cargo-check, clippy

feat(rust): Wire toolr binary to clap for --help and --version
  Cargo.lock
  Cargo.toml
  src/bin/toolr/cli.rs
  src/bin/toolr/main.rs
Due: cargo-check, clippy

feat(parser): Populate command summary, description, and arg help from docstrings
  src/parser/commands.rs
Due: cargo-check, clippy

feat(parser): Extract typing.Literal values into allowed_values
  src/parser/signatures.rs
Due: cargo-check, clippy

feat(parser): Extract function signatures into Command arguments
  src/parser/commands.rs
  src/parser/mod.rs
  src/parser/signatures.rs
Due: cargo-check, clippy

feat(parser): Resolve local enum.Enum members for allowed_values
  src/parser/commands.rs
  src/parser/mod.rs
  src/parser/signatures.rs
  src/parser/symbols.rs
Due: cargo-check, clippy

feat(cli): Build subcommand tree from manifest and stub execution
  Cargo.lock
  Cargo.toml
  src/bin/toolr/cli.rs
  src/bin/toolr/dispatch.rs
  src/bin/toolr/main.rs
  tests/cli_smoke.rs
Due: cargo-check, clippy

feat(parser): Extract @group.command decorated functions
  src/parser/commands.rs
  src/parser/mod.rs
Due: cargo-check, clippy

feat(parser): Build complete static manifest from tools directory
  src/parser/build.rs
  src/parser/mod.rs
Due: cargo-check, clippy

feat(cli): Add hidden __build-static-manifest dev command
  src/bin/toolr/cli.rs
  src/bin/toolr/dispatch.rs
  tools/.toolr-manifest.json
Due: cargo-check, clippy

docs(roadmap): Mark Plan 1 as ✅ Done
  specs/rust-front-end/01-roadmap.md
Due: none

docs(spec): Draft Plans 2-9 for the Rust front-end rewrite
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/03-plan-2-runner-execute.md
  specs/rust-front-end/04-plan-3-venv-uv.md
  specs/rust-front-end/05-plan-4-completion.md
  specs/rust-front-end/06-plan-5-static-third-party.md
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  specs/rust-front-end/08-plan-7-missing-deps.md
  specs/rust-front-end/09-plan-8-cache.md
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

docs(roadmap): Mark Plan 2 as 🔧 In Progress
  specs/rust-front-end/01-roadmap.md
Due: none

feat(runner): Add msgspec schema for toolr._runner spec payload
  docs/reference/toolr/_runner.md
  python/toolr/_runner.py
  tests/runner/__init__.py
  tests/runner/test_spec_schema.py
Due: update-doc-stubs

feat(runner): Load + validate spec JSON from TOOLR_SPEC_FILE
  python/toolr/_runner.py
  tests/runner/test_spec_loader.py
Due: update-doc-stubs

feat(runner): Dispatch into target function via Context
  python/toolr/_runner.py
  tests/runner/test_dispatch.py
Due: update-doc-stubs

feat(execute): Write spec JSON to private tempfile with drop-cleanup
  Cargo.toml
  src/execute/mod.rs
  src/execute/tempfile.rs
Due: cargo-check, clippy

feat(execute): Minimal python interpreter resolver (TOOLR_PYTHON or PATH)
  src/execute/mod.rs
  src/execute/python.rs
Due: cargo-check, clippy

feat(execute): Add ExecutionSpec serde types matching runner schema
  src/execute/mod.rs
  src/execute/spec.rs
  src/lib.rs
Due: cargo-check, clippy

refactor(tests): Convert test_dispatch helpers to pytest factory fixtures
  tests/runner/test_dispatch.py
Due: none

refactor(tests): Convert test_spec_loader helpers to pytest factory fixtures
  tests/runner/test_spec_loader.py
Due: none

docs(spec): Refactor plan-doc test snippets to use pytest factory fixtures
  specs/rust-front-end/03-plan-2-runner-execute.md
  specs/rust-front-end/07-plan-6-dynamic-manifest.md
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

feat(execute): Spawn python -m toolr._runner with inherited stdio
  src/execute/mod.rs
  src/execute/spawn.rs
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
