Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

fix(dispatch): wire UvError::user_message into production error paths
  crates/toolr-core/src/project.rs
  crates/toolr-core/src/uv/mod.rs
  crates/toolr/src/dispatch.rs
Due: cargo-check, clippy

deploy: c22f7c540395ca0e63d7ccf97e7e06a8e76b5dd9
  changelog/index.html
  contributing/index.html
  index.html
  internals/index.html
  search/search_index.json
Due: none

chore: drop dead test helpers and migration-era regression tests
  crates/toolr/src/init_templates.rs
  crates/toolr/tests/dispatch_coverage.rs
  tests/distribution/test_toolr_py_wheel.py
  tests/introspect/test_introspect_unit.py
Due: cargo-check, clippy

chore: rewrite Plan N / Task N comments + tighten migration prose
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-core/src/cache/enumerate.rs
  crates/toolr-core/src/cache/init.rs
  crates/toolr-core/src/cache/meta.rs
  crates/toolr-core/src/deps_check/mod.rs
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr-core/src/dynamic/runner.rs
  crates/toolr-core/src/execute/python.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr-py/python/toolr/testing.py
  crates/toolr-py/python/toolr/utils/_signature.py
  crates/toolr/src/dispatch.rs
  crates/toolr/src/execute_build.rs
  crates/toolr/tests/cli_smoke.rs
  crates/toolr/tests/end_to_end_sync.rs
  crates/toolr/tests/uv_install_offline.rs
Due: cargo-check, clippy

docs(specs): codebase audit snapshot (2026-05-23)
  specs/2026-05-23-codebase-audit.md
Due: none

test(command): resolve python via python3-first lookup, skip if missing
  crates/toolr-core/src/command/command_test.rs
Due: cargo-check, clippy

chore(mise): add single `test` task aggregating cargo + pytest
  mise.toml
Due: none

docs(writing-commands): document toolr.testing.CommandsTester
  docs/writing-commands/index.md
  docs/writing-commands/testing.md
  mkdocs.yml
Due: update-doc-stubs

refactor(parser): extract import-alias tracking into types/imports
  crates/toolr-core/src/parser/types/imports.rs
  crates/toolr-core/src/parser/types/mod.rs
Due: cargo-check, clippy

refactor(parser): extract PathConstraints into types/path_constraints
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/path_constraints.rs
Due: cargo-check, clippy

refactor(parser): extract type taxonomy into types/supported
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/supported.rs
Due: cargo-check, clippy

refactor(parser): extract small literal extractors into types/literals
  crates/toolr-core/src/parser/types/literals.rs
  crates/toolr-core/src/parser/types/mod.rs
Due: cargo-check, clippy

refactor(parser): extract arg-metadata into types/arg_metadata
  crates/toolr-core/src/parser/types/arg_metadata.rs
  crates/toolr-core/src/parser/types/mod.rs
Due: cargo-check, clippy

refactor(parser): extract type resolver into types/resolve
  crates/toolr-core/src/parser/types/mod.rs
  crates/toolr-core/src/parser/types/resolve.rs
Due: cargo-check, clippy

fix(ci): pass GITHUB_TOKEN to git-cliff so [remote.github] auths
  .github/workflows/_prepare-release.yml
Due: none

deploy: d26e41b290f25030e7715e99d612a84f9cc346f2
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

chore(specs): archive the repo-presentation-pass design + plan
  specs/archive/2026/2026-05-22-repo-presentation-pass-design.md
  specs/archive/2026/2026-05-22-repo-presentation-pass-plan.md
Due: none

chore(specs): archive the 2026-05-23 codebase audit
  specs/archive/2026/2026-05-23-codebase-audit.md
Due: none

test(command): wall-clock-bound tokio command tests, fix #247 workspace hang
  crates/toolr-core/src/command/command_test.rs
Due: cargo-check, clippy

deploy: 89b8852f0f7d27e242e806afc6ff0223e730d78d
  changelog/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/testing/index.html
  search/search_index.json
Due: none

deploy: f03c4fd7b98264285bf3989c1cde8f362a8d509d
  changelog/index.html
  search/search_index.json
Due: none

deploy: ec7316e2455425ae430d13df7ccf93f49ec41fd4
  changelog/index.html
  search/search_index.json
Due: none

deploy: cb3b59c19a87d7f266bb4f425a30f047166a5c11
  changelog/index.html
  search/search_index.json
Due: none

deploy: a1b65b5bc4692869ee8b979cfab3058b3e318e0c
  404.html
  changelog/index.html
  cli/index.html
  concepts/index.html
  contributing/index.html
  index.html
  installation/index.html
  installation/mise/index.html
  internals/cache/index.html
  internals/diagnostics/index.html
  internals/index.html
  internals/manifest/index.html
  internals/pre-commit/index.html
  migration/index.html
  project-config/index.html
  quickstart/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/index.html
  search/search_index.json
  third-party/index.html
  writing-commands/across-files/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/context/index.html
  writing-commands/docstrings/index.html
  writing-commands/groups/index.html
  writing-commands/index.html
  writing-commands/known-bugs/index.html
  writing-commands/nesting/index.html
  writing-commands/testing/index.html
Due: none

deploy: 21c28de89cd69dcacaabebb6f133a1be29b50d80
  changelog/index.html
  search/search_index.json
Due: none

deploy: b86134e3253219881a35d24c1ae1d2b68a01c90b
  changelog/index.html
  search/search_index.json
Due: none

deploy: b39a542f536f09b31ee014b0d2522b2468ba9f3f
  changelog/index.html
  search/search_index.json
Due: none

deploy: 381c75d7615465607b74ae04ee8edcebbbc112d1
  changelog/index.html
  search/search_index.json
Due: none

feat(dispatch): inherit child stderr to preserve TTY; move missing-dep hint into the runner
  crates/toolr-core/src/deps_check/mod.rs
  crates/toolr-core/src/deps_check/post_mortem.rs
  crates/toolr-core/src/deps_check/probe.rs
  crates/toolr-core/src/deps_check/tests.rs
  crates/toolr-core/src/execute/mod.rs
  crates/toolr-core/src/execute/spawn.rs
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/cli_smoke.rs
  specs/archive/2026/2026-05-25-preserve-child-tty-design.md
  tests/runner/test_runner_coverage.py
Due: cargo-check, clippy

deploy: f81686efd62a43ee19ba07065d0815b911e604ed
  changelog/index.html
  search/search_index.json
Due: none

ci(release): use setup-toolr action for matrix generation, drop the workspace build
  .github/workflows/release.yml
Due: none

feat(argparse): accept underscored long-flag spelling as hidden alias
  UNRELEASED.md
  crates/toolr-core/src/argparse/scan.rs
  crates/toolr/src/cli.rs
Due: cargo-check, clippy

deploy: 4dbb6d19ae5060b1d0dcf3b59f499ffe9fb2127a
  changelog/index.html
  search/search_index.json
Due: none

deploy: fc2d6deee5f50b7f43cd1f099f896b09a4415dce
  changelog/index.html
  search/search_index.json
Due: none

feat(argparse): `T | None` without default → zero-or-one positional
  crates/toolr-core/src/parser/build.rs
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr-py/python/toolr/utils/_signature.py
  docs/writing-commands/arguments.md
  tests/runner/test_runner_coverage.py
  tests/utils/signature/test_get_signature.py
  tools/version.py
Due: update-doc-stubs, cargo-check, clippy

build(deps): bump rust dependencies
  Cargo.lock
  Cargo.toml
Due: none

build(deps): bump transitive deps to latest compatible versions
  Cargo.lock
  uv.lock
Due: none

deploy: e5c9c680917ba7d3f31058b21f24b3b365c82c3b
  changelog/index.html
  search/search_index.json
Due: none

deploy: 0edc0d602c82b07d2569157bb16733b1e8ba5041
  changelog/index.html
  search/search_index.json
Due: none

deploy: 7b05973e6212b4653d3cf9659fca92f404e6fd55
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/arguments/index.html
Due: none
