Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

docs(argparse): link the unsupported-nargs warning to #423
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

fix(dispatch): emit single-flag-many-values for nargs="+"/"*" args
  UNRELEASED.md
  crates/toolr-core/src/execute/spec.rs
  crates/toolr-py/python/toolr/sources/_dispatch.py
  crates/toolr-py/python/toolr/sources/_types.py
  crates/toolr/src/execute_build.rs
  skills/toolr-command-authoring/references/commands.md
  tests/sources/test_dispatch.py
Due: cargo-check, clippy

deploy: 2b56e518f5cb802f1121adfb6ecd6a3a5879fb8b
  changelog/index.html
  internals/cache/index.html
  search/search_index.json
Due: none

deploy: 5cc3296e5bc28e01937e1a2fbe2875b6241e1f75
  changelog/index.html
  search/search_index.json
Due: none

docs(specs): design for full argparse nargs support (#423)
  specs/2026-08-04-argparse-nargs-support-design.md
Due: none

docs(specs): implementation plan for full argparse nargs support (#423)
  specs/2026-08-04-argparse-nargs-support-plan.md
Due: none

feat(argparse): full nargs support — nargs=N, REMAINDER, positional nargs="?" (#423)
  UNRELEASED.md
  crates/toolr-core/src/argparse/scan.rs
  crates/toolr-core/src/complete/engine.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/execute/spec.rs
  crates/toolr-core/src/manifest/mod.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr-py/python/toolr/sources/_dispatch.py
  crates/toolr-py/python/toolr/sources/_types.py
  crates/toolr/src/cli.rs
  crates/toolr/src/execute_build.rs
  skills/toolr-command-authoring/references/commands.md
  tests/runner/test_module_shipped.py
  tests/runner/test_spec_schema.py
  tests/sources/test_dispatch.py
Due: cargo-check, clippy

docs(specs): correct the design doc's bug-fix section to match the shipped fix
  specs/2026-08-04-argparse-nargs-support-design.md
Due: none

fix(dispatch): omit absent keyword FixedArity args instead of sending []
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

fix(argparse): recognise bare REMAINDER, not just argparse.REMAINDER
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

test(dispatch): cover positional FixedArity extraction through build_spec
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

docs(specs): archive the argparse-nargs-support design and plan
  specs/archive/2026/2026-08-04-argparse-nargs-support-design.md
  specs/archive/2026/2026-08-04-argparse-nargs-support-plan.md
Due: none

fix(manifest): reject FixedArity arguments without a fixed nargs count
  crates/toolr-core/src/manifest/io.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/tests.rs
  crates/toolr-core/src/third_party/merge.rs
  crates/toolr-core/src/third_party/parse.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

test(argparse): cover nargs shapes argparse never produces
  crates/toolr-core/src/argparse/scan.rs
Due: cargo-check, clippy

deploy: f1f4eb534d731a53d576be62e3b6a185cb144c0a
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(manifest): key freshness rebuilds off the toolr binary version too
  UNRELEASED.md
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/freshness/mod.rs
  crates/toolr-core/src/freshness/tests.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/tests.rs
  crates/toolr-core/src/parser/build.rs
  crates/toolr-core/src/third_party/tests.rs
  crates/toolr-core/tests/skill_authoring_examples.rs
  crates/toolr/src/builtin_completions.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/src/main.rs
  crates/toolr/tests/cli_smoke.rs
  crates/toolr/tests/freshness_dispatch.rs
  docs/internals/manifest.md
  docs/writing-commands/testing.md
  skills/toolr-command-authoring/examples/toolr-manifest.json
  skills/toolr-command-packaging/references/packaging.md
Due: update-doc-stubs, cargo-check, clippy

chore(deps): update ruff crates to v0.16.1 (ruff_python_ast, ruff_python_parser, ruff_text_size)
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): update rust crate pyo3 to v0.29.1
  Cargo.lock
Due: none

chore(deps): update rust crate similar to v3.1.2
  Cargo.lock
Due: none

chore(deps): update transitive rust dependencies (aho-corasick, ipnet, libredox, regex-automata)
  Cargo.lock
Due: none

chore(deps): update dependency uv to v0.12.1
  mise.lock
  mise.toml
Due: none

chore(deps): update python dependencies (backrefs, hypothesis)
  uv.lock
Due: none

deploy: ac121dd553cd676b335cef7f6caff4f4bd31c188
  changelog/index.html
  internals/manifest/index.html
  search/search_index.json
  writing-commands/testing/index.html
Due: none

deploy: 6b13108fcec06f2a667678ebfda132fda58add27
  changelog/index.html
  search/search_index.json
Due: none

deploy: c3cec0e5658b4a60ff7f6eecfb9a0aa543cf2988
  changelog/index.html
  search/search_index.json
Due: none

fix(ci): exempt toolr-py from the tools/ dependency cooldown
  UNRELEASED.md
  tools/pyproject.toml
  tools/uv.lock
Due: none

fix(runner): return exit code 130 on KeyboardInterrupt instead of a raw traceback
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_runner_coverage.py
Due: none

docs(changelog): queue release note for KeyboardInterrupt exit-code fix
  UNRELEASED.md
Due: none

chore(deps): group toolr / toolr-py release tracking across mise, tools venv, and GH actions
  renovate.json5
Due: none

fix(mise): bump toolr binary pin to 0.27.0 to match tools/uv.lock's toolr-py
  mise.toml
Due: none

chore(mise): regenerate mise.lock for toolr 0.27.0
  mise.lock
Due: none

deploy: 707744a33b711c5d510e3359248ea5eff617b77a
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 4ffa3a0d131f1963a3157b131ac5aaca38a32b86
  changelog/index.html
  search/search_index.json
Due: none

deploy: 81f7576b4987b593226a70a0d40337d2cca68a7d
  changelog/index.html
  search/search_index.json
Due: none

deploy: 9521f051a4303280ccdc93a198eeaaef35ca3734
  changelog/index.html
  search/search_index.json
Due: none

deploy: fced3023154fd3bca049027765406ab38edbc667
  changelog/index.html
  search/search_index.json
Due: none

deploy: 22012f0f4c7f43130fb61721129f69f159aafdd0
  changelog/index.html
  search/search_index.json
Due: none

fix(parser): classify list[T] | None and tuple[...] | None as repeatable
  UNRELEASED.md
  crates/toolr-core/src/parser/commands.rs
  crates/toolr-core/src/parser/types/resolve.rs
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

docs(specs): correct build-skill-refs claim in run-mock design
  specs/2026-08-14-testing-run-mock-design.md
Due: none

docs(specs): write implementation plan for mockable run/chdir/prompt
  specs/2026-08-14-testing-run-mock-design-plan.md
  specs/2026-08-14-testing-run-mock-design.md
Due: none
