Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

chore(ci): migrate dependency updates from Dependabot to Renovate
  .github/dependabot.yml
  UNRELEASED.md
  renovate.json5
Due: none

deploy: 3f5ce36fbdda987231bd73d9cdf069abcc8fd968
  changelog/index.html
  search/search_index.json
Due: none

deploy: f479374041a2c8a027c596e989b6f7c15c0b43a4
  changelog/index.html
  search/search_index.json
Due: none

deploy: 3f4375a52051e8a07770b3311b7402a81c7561a0
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 9a80c0a01b1866253b4e990ca01ded944086743b
  changelog/index.html
  search/search_index.json
Due: none

chore(prek): sync Cargo.lock with Cargo.toml via cargo-lock hook
  .pre-commit-config.yaml
Due: none

chore(deps): update astral-sh/ruff git deps to v0.15.16
  Cargo.lock
  Cargo.toml
Due: none

fix(renovate): match ruff_* crates by depName so grouping fires
  renovate.json5
Due: none

deploy: 37a5e0696f39f00a633290475826065cb0b15b8f
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

docs(specs): static-only manifest design (SEC-01)
  specs/2026-06-10-static-only-manifest-design.md
Due: none

test(security): --help builds statically with no venv (SEC-01 green)
  Cargo.lock
  Cargo.toml
  crates/toolr/Cargo.toml
  crates/toolr/tests/untrusted_repo.rs
Due: cargo-check, clippy

docs(unreleased): note static-only manifest and provenance
  UNRELEASED.md
Due: none

test(freshness): manifest rebuilds when a venv appears
  crates/toolr/tests/untrusted_repo.rs
Due: cargo-check, clippy

docs(test): drop stale toolr._introspect reference from conftest comment
  tests/conftest.py
Due: none

docs(specs): static-only manifest implementation plan (SEC-01)
  specs/2026-06-10-static-only-manifest-plan.md
Due: none

feat(venv): record interpreter provenance and rebuild manifest on sync
  crates/toolr-core/src/project.rs
Due: cargo-check, clippy

feat(venv): interpreter provenance verification
  crates/toolr-core/src/hash.rs
  crates/toolr-core/src/venv/mod.rs
  crates/toolr-core/src/venv/provenance.rs
Due: cargo-check, clippy

docs(authoring): document the static-only command-discovery contract
  docs/writing-commands/groups.md
  skills/toolr-command-authoring/SKILL.md
Due: update-doc-stubs

refactor(manifest): remove the dynamic Python-introspection layer
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/dynamic/merge.rs
  crates/toolr-core/src/dynamic/mod.rs
  crates/toolr-core/src/dynamic/payload.rs
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr-core/src/dynamic/runner.rs
  crates/toolr-core/src/dynamic/tests.rs
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/manifest/tests.rs
  crates/toolr-py/python/toolr/_introspect.py
  crates/toolr-py/python/toolr/testing.py
  crates/toolr/src/bootstrap.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/dynamic_e2e.rs
  skills/toolr-command-packaging/references/packaging.md
  tests/introspect/__init__.py
  tests/introspect/test_introspect_empty.py
  tests/introspect/test_introspect_tools_walk.py
  tests/introspect/test_introspect_unit.py
Due: cargo-check, clippy

feat(dispatch): refuse to execute non-provisioned in-repo interpreters (SEC-01)
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/cli_smoke.rs
  crates/toolr/tests/untrusted_repo.rs
Due: cargo-check, clippy

test(security): failing regression for SEC-01 implicit code execution
  crates/toolr/tests/untrusted_repo.rs
Due: cargo-check, clippy

feat(cache): record interpreter provenance in meta.json (schema v2)
  crates/toolr-core/src/cache/meta.rs
  crates/toolr-core/src/cache/tests.rs
  crates/toolr/src/self_cache_prune.rs
Due: cargo-check, clippy

fix(test): gate Unix-only test helpers/imports for Windows
  crates/toolr-core/src/venv/provenance.rs
  crates/toolr/tests/untrusted_repo.rs
Due: cargo-check, clippy

fix(venv): accept real in-tree venvs without a provenance record (validate_venv fallback)
  crates/toolr-core/src/venv/provenance.rs
  crates/toolr/src/dispatch.rs
  specs/2026-06-10-static-only-manifest-design.md
Due: cargo-check, clippy

refactor(core): rename the dynamic module to manifest_build
  crates/toolr-core/src/complete/tests.rs
  crates/toolr-core/src/freshness/compare.rs
  crates/toolr-core/src/freshness/tests.rs
  crates/toolr-core/src/lib.rs
  crates/toolr-core/src/manifest_build/hash.rs
  crates/toolr-core/src/manifest_build/mod.rs
  crates/toolr-core/src/manifest_build/rebuild.rs
  crates/toolr-core/src/project.rs
  crates/toolr/src/bootstrap.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy

test(coverage): cover provenance cache-dir, in-tree slot, bootstrap venv arm, tools walk
  crates/toolr-core/src/project.rs
  crates/toolr-core/src/venv/provenance.rs
  crates/toolr/tests/untrusted_repo.rs
  tests/registry/test_integration.py
Due: cargo-check, clippy

docs(specs): runner path hygiene design (SEC-02)
  specs/2026-06-10-runner-path-hygiene-design.md
Due: none

docs(specs): note SEC-02 chdir + warning moved to Rust (plan superseded in part)
  specs/2026-06-10-runner-path-hygiene-plan.md
Due: none

feat(runner): append repo_root to sys.path (resolves tools.* from any cwd)
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_path_hygiene.py
Due: none

refactor(sec-02): move chdir + relative-path warning to Rust; thin the runner
  crates/toolr-core/src/execute/spawn.rs
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr/src/dispatch.rs
  crates/toolr/src/execute_build.rs
  specs/2026-06-10-runner-path-hygiene-design.md
  tests/runner/test_path_hygiene.py
Due: cargo-check, clippy

feat(runner): double-gated relative-path warning helper
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_path_hygiene.py
Due: none

test(runner): document -P shadowing coverage boundary (SEC-02 Task 5)
  tests/runner/test_path_hygiene.py
Due: none

feat(runner): run commands from repo root; warn on relative path args from a subdir (SEC-02)
  crates/toolr-py/python/toolr/_runner.py
  tests/runner/test_path_hygiene.py
Due: none

docs(authoring): commands run from the repo root; path args are repo-root-relative
  docs/writing-commands/context.md
  skills/toolr-command-authoring/SKILL.md
Due: update-doc-stubs

docs(specs): runner path hygiene implementation plan (SEC-02)
  specs/2026-06-10-runner-path-hygiene-plan.md
Due: none

feat(execute): pass -P to the runner interpreter (drop implicit CWD from sys.path)
  crates/toolr-core/src/execute/spawn.rs
Due: cargo-check, clippy

docs(unreleased): note runner -P + repo-root cwd (SEC-02)
  UNRELEASED.md
Due: none

test(coverage): cover the walk's per-module except + finalize_sync existing-sidecar branch
  crates/toolr-core/src/project.rs
  tests/registry/test_integration.py
Due: cargo-check, clippy

test(coverage): exercise the warn_relative_paths wrapper in build_spec
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
