Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

fix(tests): Skip ancestor-walk tests when host has a tools/ at root
  src/complete/tests.rs
  src/discovery.rs
Due: cargo-check, clippy

fix(rust): Gate unix-only test helpers properly for Windows builds
  src/dynamic/runner.rs
  src/venv/validate.rs
Due: cargo-check, clippy

fix(tests): Canonicalise the in-tree venv-path expected value
  tests/project_venv_path.rs
Due: cargo-check, clippy

ci(mise): Provision all CI tooling via jdx/mise-action
  .github/actions/setup-pre-commit/action.yml
  .github/actions/setup-virtualenv/action.yml
  .github/workflows/build-binary-archive.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sync-rolling-tags.yml
  .github/workflows/test.yml
  mise.toml
Due: none

fix(tests): Serialise execute::python tests that mutate TOOLR_PYTHON
  src/execute/python.rs
Due: cargo-check, clippy

refactor(workspace): Extract toolr-py pyo3 crate; remove python feature flag
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/toolr-core/Cargo.toml
  crates/toolr-core/src/lib.rs
  crates/toolr-py/Cargo.toml
  crates/toolr-py/src/lib.rs
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/src/execute_build.rs
  crates/toolr/src/main.rs
  crates/toolr/src/project.rs
  crates/toolr/src/self_cache.rs
  crates/toolr/src/self_cache_prune.rs
  crates/toolr/src/value_parsers.rs
  pyproject.toml
Due: cargo-check, clippy

refactor(workspace): Move python/toolr/ into crates/toolr-py/python/
  .coveragerc
  crates/toolr-core/src/execute/spec.rs
  crates/toolr-py/python/toolr/__init__.py
  crates/toolr-py/python/toolr/_context.py
  crates/toolr-py/python/toolr/_context.pyi
  crates/toolr-py/python/toolr/_exc.py
  crates/toolr-py/python/toolr/_introspect.py
  crates/toolr-py/python/toolr/_parser.py
  crates/toolr-py/python/toolr/_registry.py
  crates/toolr-py/python/toolr/_runner.py
  crates/toolr-py/python/toolr/build.py
  crates/toolr-py/python/toolr/py.typed
  crates/toolr-py/python/toolr/testing.py
  crates/toolr-py/python/toolr/types/__init__.py
  crates/toolr-py/python/toolr/utils/__init__.py
  crates/toolr-py/python/toolr/utils/_console.py
  crates/toolr-py/python/toolr/utils/_docstrings.py
  crates/toolr-py/python/toolr/utils/_imports.py
  crates/toolr-py/python/toolr/utils/_logs.py
  crates/toolr-py/python/toolr/utils/_rust_utils.pyi
  crates/toolr-py/python/toolr/utils/_signature.py
  crates/toolr-py/python/toolr/utils/command.py
  pyproject.toml
Due: cargo-check, clippy

chore(ci): Prefix reusable workflow filenames with underscore
  .github/workflows/_build-binary-archive.yml
  .github/workflows/_build.yml
  .github/workflows/_prepare-release.yml
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

docs(spec): Add cargo workspace split design
  specs/superpowers/2026-05-13-toolr-cargo-workspace-split-design.md
Due: none

refactor(workspace): Extract toolr binary into crates/toolr
  .github/workflows/_build-binary-archive.yml
  Cargo.lock
  Cargo.toml
  crates/toolr-core/Cargo.toml
  crates/toolr-core/src/execute/mod.rs
  crates/toolr-core/src/execute/spec.rs
  crates/toolr/Cargo.toml
  crates/toolr/src/cli.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/src/execute_build.rs
  crates/toolr/src/init_scaffold.rs
  crates/toolr/src/init_templates.rs
  crates/toolr/src/init_templates/example.py.tmpl
  crates/toolr/src/init_templates/gitignore.tmpl
  crates/toolr/src/init_templates/pyproject.toml.tmpl
  crates/toolr/src/main.rs
  crates/toolr/src/markdown.rs
  crates/toolr/src/project.rs
  crates/toolr/src/self_cache.rs
  crates/toolr/src/self_cache_prune.rs
  crates/toolr/src/value_parsers.rs
Due: cargo-check, clippy

build(wheels): Split pyproject.toml; add toolr binary-wheel + toolr-py pyo3-wheel
  crates/toolr-py/LICENSE
  crates/toolr-py/README.md
  crates/toolr-py/pyproject.toml
  crates/toolr/LICENSE
  crates/toolr/README.md
  crates/toolr/pyproject.toml
  pyproject.toml
  tests/distribution/test_wheel_contents.py
  uv.lock
Due: none

ci(cache): Add CACHE_SEED with single-bump invalidation
  .github/workflows/_build-binary-archive.yml
  .github/workflows/_build.yml
  .github/workflows/_prepare-release.yml
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync-rolling-tags.yml
Due: none

docs(plan): Add Plan 12 (workspace split) under specs/rust-front-end/
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/14-workspace-split-design.md
  specs/rust-front-end/15-plan-12-workspace-split.md
  specs/rust-front-end/followups/2026-05-14-rich-argparse-dependency.md
Due: none

fix(workspace-split): Stage 7 review fixes
  .github/workflows/_build.yml
  .github/workflows/_prepare-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tests/test_tools_version.py
  tools/version.py
Due: none

chore(deps): Remove orphaned rich-argparse dependency
  crates/toolr-py/pyproject.toml
  specs/rust-front-end/followups/2026-05-14-rich-argparse-dependency.md
  uv.lock
Due: none

feat(retire): Remove Python CLI frontend (_parser, _registry)
  crates/toolr-py/python/toolr/__init__.py
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr-py/python/toolr/_introspect.py
  crates/toolr-py/python/toolr/_parser.py
  crates/toolr-py/python/toolr/build.py
Due: none

fix(tests): Patch correct getpass symbol; lift rich<14.3 cap
  crates/toolr-py/pyproject.toml
  tests/context/test_prompt.py
  uv.lock
Due: none

test(distribution): Assert wheel shapes and cross-wheel install path
  pyproject.toml
  tests/distribution/conftest.py
  tests/distribution/test_compat_existing_tools.py
  tests/distribution/test_cross_wheel.py
  tests/distribution/test_editable_install.py
  tests/distribution/test_toolr_py_wheel.py
  tests/distribution/test_toolr_wheel.py
  tests/distribution/test_wheel_contents.py
Due: none

build(tools): Declare toolr-py as dogfooding-tools dep
  pyproject.toml
  tools/pyproject.toml
  uv.lock
Due: none

chore(workspace-split): Post-split carry-over cleanups
  crates/toolr-core/src/dynamic/rebuild.rs
  crates/toolr-core/src/dynamic/runner.rs
  crates/toolr/Cargo.toml
  docs/reference/index.md
  specs/rust-front-end/14-workspace-split-design.md
Due: update-doc-stubs, cargo-check, clippy

ci(workspace-split): Fan out wheel builds; rewire version bump and smoke
  .github/workflows/_build.yml
  .github/workflows/ci.yml
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  tests/test_tools_version.py
  tools/version.py
Due: none

fix(types): Sync _context.pyi with the .py source (Output Options fields)
  crates/toolr-py/python/toolr/_context.pyi
Due: none

refactor(version): Delegate Cargo.toml writes to `cargo set-version`
  mise.toml
  tests/test_tools_version.py
  tools/version.py
Due: none

fix(docs): Update mkdocs.yml paths to crates/toolr-py/python
  mkdocs.yml
Due: none

docs(mise): Salvage MISE_SUPPORT.md into docs/installation/mise.md
  README.md
  dist/mise-plugin/README.md
  docs/installation/index.md
  docs/installation/mise.md
  mkdocs.yml
Due: update-doc-stubs

fix(packaging): tac portability + exclude __pycache__ from toolr-py wheel
  crates/toolr-py/pyproject.toml
  installation/mise/bin/list-all
Due: none

feat(release): Wire UNRELEASED.md into cliff via TOOLR_RELEASE_NOTES
  .github/workflows/_prepare-release.yml
  UNRELEASED.md
  cliff.toml
Due: none

fix(types): Move TypeVar F into TYPE_CHECKING block (ruff TC001)
  crates/toolr-py/python/toolr/_decorators.py
Due: none

refactor(install): Rename dist/ -> installation/, mise-plugin/ -> mise/
  .github/workflows/install-smoke.yml
  .gitignore
  README.md
  dist/.gitignore
  docs/installation/index.md
  docs/quickstart.md
  installation/install.ps1
  installation/install.sh
  installation/mise/README.md
  installation/mise/bin/download
  installation/mise/bin/install
  installation/mise/bin/list-all
  tests/distribution/test_install_sh.py
Due: update-doc-stubs

chore(workspace-split): Final loose ends — roadmap status, __init__ version lookup, binary-archive wiring
  .github/workflows/release.yml
  crates/toolr-py/python/toolr/__init__.py
  specs/rust-front-end/01-roadmap.md
Due: none

docs(install): Clarify the two PyPI packages — toolr (CLI) vs toolr-py (bindings)
  README.md
  docs/installation/index.md
Due: update-doc-stubs

fix(version): Make dev-version cargo-compatible; fix Windows strftime
  tests/test_tools_version.py
  tools/version.py
Due: none

ci(coverage): Exclude toolr-py from cargo tarpaulin
  .github/workflows/_test.yml
Due: none

ci(release): Replace external ToolR bootstrap with local workspace
  .github/workflows/_prepare-release.yml
  pyproject.toml
  tools/pyproject.toml
  uv.lock
Due: none

Include `**/pyproject.toml` in the hash files list
  .github/actions/setup-virtualenv/action.yml
Due: none

Revert "ci(release): Replace external ToolR bootstrap with local workspace"
  .github/workflows/_prepare-release.yml
  pyproject.toml
  tools/pyproject.toml
  uv.lock
Due: none

test(distribution): Consume pre-built wheels in a dedicated CI job
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
  tests/distribution/conftest.py
  uv.lock
Due: none

build(tools): Inherit packaging from toolr-py; widen venv-cache hash
  .github/actions/setup-virtualenv/action.yml
  tools/pyproject.toml
  uv.lock
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
