Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

deploy: e1b4138b8d634b5e3578f3ba082117aa1622c1e2
  changelog/index.html
  contributing/index.html
  reference/context/index.html
  search/search_index.json
Due: none

deploy: c2da38af46fb1c29a61adbd93faa515361797307
  changelog/index.html
  search/search_index.json
Due: none

docs(writing-commands): prefer ctx.repo_root and document tools namespace package
  docs/writing-commands/across-files.md
  docs/writing-commands/context.md
  skills/toolr-command-authoring/SKILL.md
Due: update-doc-stubs

docs(writing-commands): fix tools import example and note relative imports work
  docs/writing-commands/across-files.md
  skills/toolr-command-authoring/SKILL.md
Due: update-doc-stubs

docs(ci-setup): document TOOLR_VENV_LOCATION and the action's in-tree default
  skills/toolr-ci-setup/SKILL.md
Due: none

deploy: 3681241e011c3cc049aa6471e762f98b11d3bf0a
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/across-files/index.html
  writing-commands/context/index.html
Due: none

deploy: 5dbd9ba511b331d85601f2d85a74e4c34ad9973a
  changelog/index.html
  search/search_index.json
Due: none

deploy: 7878b8031e49f54abb1e02facc4c26aea55988f6
  changelog/index.html
  search/search_index.json
Due: none

deploy: 0f3b3a85d0abdf13de0cab4fb4d81350b461cd6a
  changelog/index.html
  search/search_index.json
Due: none

deploy: b5cf69261f7f84583b8eb53a2fe22758069c9348
  changelog/index.html
  search/search_index.json
Due: none

deploy: fc3d7e87f4463232f9d292e6bba0e71e6df43f31
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 3fcf63d7862bd78d15c62335956aade51a184e9f
  changelog/index.html
  search/search_index.json
Due: none

docs(internals): venv-run design doc
  specs/2026-07-13-venv-run-design.md
Due: none

feat(cli): add `toolr project venv run` to run commands in the managed venv
  crates/toolr/src/cli.rs
  crates/toolr/src/project.rs
  crates/toolr/tests/project_venv_run.rs
Due: cargo-check, clippy

feat(cli): advertise `venv run` from `project init` and `venv sync`
  crates/toolr/src/project.rs
  crates/toolr/tests/project_venv_run.rs
Due: cargo-check, clippy

docs(cli): document `toolr project venv run`
  .pre-commit-hooks/regen-doc-snippets.py
  crates/toolr/src/builtin_completions.rs
  docs/cli-files/project-venv-run-help.txt
  docs/cli.md
Due: update-doc-stubs, cargo-check, clippy

docs(skills): teach `toolr project venv run` for running/testing commands
  UNRELEASED.md
  skills/toolr-ci-setup/SKILL.md
  skills/toolr-command-authoring/SKILL.md
Due: none

docs(internals): archive venv-run design + plan
  specs/archive/2026/2026-07-13-venv-run-design.md
  specs/archive/2026/2026-07-13-venv-run-plan.md
Due: none

test(cli): run venv-run not-found nudge on all platforms
  crates/toolr/tests/project_venv_run.rs
Due: cargo-check, clippy

docs(internals): archive shipped specs (ci-setup, static-only-manifest, runner-path-hygiene, remove-editable-install)
  specs/archive/2026/2026-05-27-toolr-ci-setup-plan.md
  specs/archive/2026/2026-05-27-toolr-ci-setup-skill-design.md
  specs/archive/2026/2026-06-10-remove-editable-install-design.md
  specs/archive/2026/2026-06-10-remove-editable-install-plan.md
  specs/archive/2026/2026-06-10-runner-path-hygiene-design.md
  specs/archive/2026/2026-06-10-runner-path-hygiene-plan.md
  specs/archive/2026/2026-06-10-static-only-manifest-design.md
  specs/archive/2026/2026-06-10-static-only-manifest-plan.md
Due: none

test(cli): cover venv-run validate-failure and non-executable spawn-error paths
  crates/toolr/tests/project_venv_run.rs
Due: cargo-check, clippy

chore(deps): upgrade Rust and Python dependencies to latest
  Cargo.lock
  Cargo.toml
  uv.lock
Due: none

deploy: 35b3d7e21663fc486118eede0c30e3b6f8be5e35
  changelog/index.html
  cli-files/project-venv-run-help.txt
  cli/index.html
  search/search_index.json
Due: none

fix(cli): suppress passive cache hint under --quiet
  UNRELEASED.md
  crates/toolr/src/main.rs
  crates/toolr/tests/cache_hint_quiet.rs
Due: cargo-check, clippy

deploy: b96edbc0795e4ba896cabd78e7840830e4326ca3
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 831b0824219389100d7c1645dc7a89b420d2ead3
  changelog/index.html
  search/search_index.json
Due: none

deploy: 8322e1e93c21868608130ab21f7c1912255b18df
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: 147be2a36d201f519b89696979d3605bdd075a39
  changelog/index.html
  search/search_index.json
Due: none

deploy: 1956106c5bcaa04b4248615f0c2d642d37253ab5
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

fix(ci): make pipeline exit-status gate jobs actually fail
  .github/workflows/ci.yml
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  UNRELEASED.md
Due: none

fix(ci): add drift gate for pipeline exit-status needs lists
  .github/workflows/install-smoke.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-pipeline-gate-needs.py
  UNRELEASED.md
Due: none

feat(ci): dogfood gate wiring sync as `toolr ci check-gate-needs`
  .github/actions/pipeline-gate/action.yml
  .github/workflows/ci.yml
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-pipeline-gate-needs.py
  UNRELEASED.md
  mise.lock
  mise.toml
  tools/ci.py
  tools/pyproject.toml
  tools/uv.lock
Due: none

fix(ci): no-op regen-doc-snippets when the venv lacks the toolr runner
  .pre-commit-hooks/regen-doc-snippets.py
Due: none

refactor(ci): move pre-commit hook commands into `toolr pre-commit`
  .github/actions/pipeline-gate/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/regen-doc-snippets.py
  CLAUDE.md
  UNRELEASED.md
  mise.toml
  tools/.ruff.toml
  tools/ci.py
  tools/precommit/_common.py
  tools/precommit/docs.py
  tools/precommit/workflows.py
Due: none

Cleanup UNRELEASED.md from internal changes
  UNRELEASED.md
Due: none

deploy: 5fe8d53b1e335a93fe0a4d9dde849b04390589c8
  changelog/index.html
  search/search_index.json
Due: none

deploy: cbefdd8f37712b689d0222359129380005241f5b
  changelog/index.html
  search/search_index.json
Due: none

deploy: f1cc9bb1e3635ec2c0b12003c7c3935fa32a777b
  changelog/index.html
  search/search_index.json
Due: none

deploy: 5ed3a559ff896893b6e48d4e7e5b03988236c854
  changelog/index.html
  search/search_index.json
Due: none

deploy: 246ca09e82a4a038fcdcaab63e70efb44a979db8
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
