Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

update-doc-stubs:
  name: Update reference documentation stubs
  language: system
  entry: python .pre-commit-hooks/ref-doc-stubs.py
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

Lint fixes
  tests/introspect/test_introspect_empty.py
  tests/introspect/test_introspect_entry_points.py
  tests/runner/test_dispatch.py
  tools/version.py
Due: none

Fix Windows tarpaulin test + drop --follow-exec that segfaulted Linux
  .github/workflows/_test.yml
  crates/toolr-core/src/project.rs
Due: cargo-check, clippy

Restore --follow-exec with ptrace stability flags for subprocess coverage
  .github/workflows/_test.yml
Due: none

Fix tarpaulin flag name: --forward, not --forward-signals
  .github/workflows/_test.yml
Due: none

Move --test-threads=1 after -- for libtest forwarding
  .github/workflows/_test.yml
Due: none

Replace cargo-tarpaulin with cargo-llvm-cov for coverage
  .github/workflows/_test.yml
Due: none

Force bash for llvm-cov steps so they work on Windows runners
  .github/workflows/_test.yml
Due: none

Drop path_must_* aliases — must_exist/must_be_file/must_be_dir are the names
  crates/toolr-core/src/manifest/model.rs
  crates/toolr-core/src/parser/types.rs
  crates/toolr-py/python/toolr/utils/_signature.py
  tests/utils/signature/test_argument_annotation.py
Due: cargo-check, clippy

Cover venv::editable.rs to 88%+
  crates/toolr-core/src/venv/editable.rs
Due: cargo-check, clippy

Cover toolr._decorators to 98%
  tests/decorators/__init__.py
  tests/decorators/test_decorators_unit.py
Due: none

Cover complete::install Fish and Zsh branches
  crates/toolr-core/src/complete/tests.rs
Due: cargo-check, clippy

Cover third_party::parse Io / MissingVersion / Display branches
  crates/toolr-core/src/third_party/tests.rs
Due: cargo-check, clippy

Cover toolr::self_cache_prune helpers in-process
  crates/toolr/src/self_cache_prune.rs
Due: cargo-check, clippy

Cover execute::python edge branches
  crates/toolr-core/src/execute/python.rs
Due: cargo-check, clippy

Cover uv::install download_and_extract via local one-shot HTTP server
  crates/toolr-core/src/uv/install.rs
Due: cargo-check, clippy

Cover uv::mod XDG overrides, UvError Display, and helper stubs
  crates/toolr-core/src/uv/mod.rs
Due: cargo-check, clippy

Cover complete::scripts Shell Display, FromStr, and error path
  crates/toolr-core/src/complete/scripts.rs
Due: cargo-check, clippy

Cover CommandConfig builders + error type Display in command.rs
  crates/toolr-core/src/command/command_test.rs
Due: cargo-check, clippy

Cover execute_build value extractors for every SupportedType arm
  crates/toolr/src/execute_build.rs
Due: cargo-check, clippy

Cover venv::sync orchestration via stub uv binary
  crates/toolr-core/src/venv/sync.rs
Due: cargo-check, clippy

Cover uv::discover which_uv / probe / find_managed_uv
  crates/toolr-core/src/uv/discover.rs
Due: cargo-check, clippy

Refactor toolr::project::venv_shell into testable helpers + cover them
  crates/toolr/src/project.rs
Due: cargo-check, clippy

Cover toolr.build helpers and CLI branches to 98%
  tests/build_manifest/test_build_manifest.py
Due: none

Add .codecov.yml — project 90%, patch 90% thresholds
  .codecov.yml
Due: none

Codecov comment: post on every PR, update in place
  .codecov.yml
Due: none

Spec: un-deprecate @group.command, keep parent.command_group on track for 1.0 removal
  docs/superpowers/specs/2026-05-18-keep-bound-command-decorator-design.md
Due: update-doc-stubs

Un-deprecate @group.command, keep @command(group=…) as multi-file path
  crates/toolr-py/python/toolr/_decorators.py
  crates/toolr/src/init_templates/example.py.tmpl
  docs/migration.md
  docs/quickstart.md
  docs/writing-commands/across-files.md
  docs/writing-commands/files/function-name-conversion.py
  docs/writing-commands/files/groups-example.py
  docs/writing-commands/groups.md
  mkdocs.yml
  tests/decorators/test_decorators_unit.py
Due: update-doc-stubs

mkdocs: exclude superpowers/ subtree from the published site
  mkdocs.yml
Due: none

Move spec to specs/, drop the mkdocs exclude
  mkdocs.yml
  specs/2026-05-18-keep-bound-command-decorator-design.md
Due: none

CI: migrate off deprecated codecov/test-results-action
  .github/workflows/_test.yml
  .github/workflows/_test_distribution.yml
Due: none

Update GH actions
  .github/workflows/_build-binary-archive.yml
  .github/workflows/_build.yml
  .github/workflows/_prepare-release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_distribution.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/install-smoke.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/sync-rolling-tags.yml
Due: none

deps: upgrade Python and Rust dependencies to latest
  Cargo.lock
  Cargo.toml
  crates/toolr-core/src/cache/meta.rs
  crates/toolr-core/src/manifest/io.rs
  uv.lock
Due: cargo-check, clippy

CI: pin ToolR action to a SHA that supports python-path
  .github/workflows/_prepare-release.yml
  .github/workflows/ci.yml
  .github/workflows/sync-rolling-tags.yml
Due: none

deploy: ee6a7e8dd0b956b6e6beabf204a15852e1804c6b
  changelog/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

tests: update pyo3 TypeError message for pyo3 0.28
  tests/utils/docstrings/test_parser_behavior.py
Due: none

deploy: 6edea76466cb39d43cc176cd15efeeb23868db8c
  changelog/index.html
  reference/build/index.html
  reference/context/index.html
  reference/testing/index.html
  search/search_index.json
Due: none

deploy: a9ed3664cedcf18cee5c631e2b62e2bc75b0bbe1
  changelog/index.html
  search/search_index.json
Due: none

deploy: 652415e4fea8aef13084bd0d9c41b7580e022051
  changelog/index.html
  search/search_index.json
Due: none

CI: bump pre-commit hook revs and drop retired macos-13 runner
  .github/workflows/install-smoke.yml
  .pre-commit-config.yaml
  crates/toolr-py/pyproject.toml
  tools/ci.py
Due: none

Path conditions:
  update-doc-stubs: any of: ^(docs/.*\.md|python/toolr/.*\.py)$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
