Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

fix(manifest): rename with std so Windows allows concurrent replaces
  crates/toolr-core/src/manifest/io.rs
Due: cargo-check, clippy

deploy: 02ba81c28020661734e2f0fcfabf109ab57ba389
  changelog/index.html
  search/search_index.json
Due: none

fix(manifest): retry reads Windows denies during a concurrent replace
  crates/toolr-core/src/manifest/io.rs
Due: cargo-check, clippy

perf(manifest): rebuild a stale manifest once under a file lock
  UNRELEASED.md
  crates/toolr-core/src/cache/tests.rs
  crates/toolr-core/src/complete/freshness.rs
  crates/toolr-core/src/manifest/lock.rs
  crates/toolr-core/src/manifest/mod.rs
  crates/toolr-core/src/manifest_build/rebuild.rs
  crates/toolr/src/bootstrap.rs
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/cache_fixtures.rs
  crates/toolr/tests/freshness_dispatch.rs
  docs/internals/manifest.md
Due: update-doc-stubs, cargo-check, clippy

test(manifest): keep never-called closures off their own lines
  crates/toolr-core/src/manifest/lock.rs
Due: cargo-check, clippy

deploy: 6bd87f2acaaed9e6d8c9bfcae575921f9cb630a9
  changelog/index.html
  search/search_index.json
Due: none

deploy: 606498143e2dbfdcad230279d464ed6567454148
  changelog/index.html
  internals/manifest/index.html
  search/search_index.json
Due: none

ci(codecov): compute statuses only after every coverage upload
  .codecov.yml
  .github/workflows/_test.yml
  .github/workflows/_test_distribution.yml
  .github/workflows/ci.yml
Due: none

ci(codecov): skip the notification when no test job ran
  .github/workflows/ci.yml
Due: none

ci(codecov): gate the notification on should-run-build
  .github/workflows/ci.yml
Due: none

deploy: c0344625df207d6a507778d4c8643b2bb71a628f
  changelog/index.html
  search/search_index.json
Due: none

deploy: 31d7581c395981ad2c38a3c2d4e733a8a4d9880f
  changelog/index.html
  search/search_index.json
Due: none
