Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

test(build): Add editable-install test (xfail: maturin pyo3 limitation)
  specs/rust-front-end/10-plan-9-distribution.md
  tests/distribution/test_editable_install.py
Due: none

feat(ci): Build per-platform Rust binary archives workflow
  .github/workflows/build-binary-archive.yml
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

feat(build): Pin maturin and add wheel-contents tests
  pyproject.toml
  specs/rust-front-end/10-plan-9-distribution.md
  tests/distribution/__init__.py
  tests/distribution/test_wheel_contents.py
Due: none

feat(install): Add cross-platform install.sh + install.ps1 scripts
  .gitignore
  dist/.gitignore
  dist/install.ps1
  dist/install.sh
  specs/rust-front-end/10-plan-9-distribution.md
  tests/distribution/test_install_sh.py
Due: none

feat(mise): Add Rust-binary-fetching mise plugin (staging dir)
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

docs(roadmap): Mark Plan 8 as done
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/09-plan-8-cache.md
Due: none

feat(ci): Generate release-manifest.json for installer consumption
  pyproject.toml
  scripts/build-release-manifest.py
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

feat(cli)!: Remove python -m toolr entry point
  .github/workflows/install-smoke.yml
  README.md
  pyproject.toml
  python/toolr/__main__.py
  tests/cli/test_main_shim.py
Due: update-doc-stubs

ci: Add nightly install-channel smoke tests
  .github/workflows/install-smoke.yml
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

docs(readme): Document new standalone install + pip wheel paths
  README.md
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

docs(readme): Document SLSA attestation verification flow
  README.md
Due: none

docs(roadmap): Mark Plan 9 as done
  specs/rust-front-end/01-roadmap.md
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

test(compat): Add end-to-end command_group compat test (xfail: maturin limitation)
  specs/rust-front-end/10-plan-9-distribution.md
  tests/distribution/test_compat_existing_tools.py
Due: none

feat(mise): Stage mise plugin scripts under dist/mise-plugin/
  dist/.gitignore
  dist/mise-plugin/README.md
  dist/mise-plugin/bin/download
  dist/mise-plugin/bin/install
  dist/mise-plugin/bin/list-all
Due: none

docs(spec): Brainstorm design for docs overhaul + toolr project init
  specs/rust-front-end/11-docs-overhaul-and-project-init-design.md
Due: none

fix(ci): Resolve Windows compile error and typos CHANGELOG false positive
  src/execute/signals.rs
  typos.toml
Due: cargo-check, clippy

feat(ci): Always attest archives + verify provenance from install scripts
  .github/workflows/build-binary-archive.yml
  .github/workflows/install-smoke.yml
  dist/install.ps1
  dist/install.sh
Due: none

docs(changelog): Document Plan 9 distribution + breaking changes
  specs/rust-front-end/10-plan-9-distribution.md
Due: none

feat(init): Auto-run uv sync after scaffolding (skippable via --no-sync)
  src/bin/toolr/project.rs
Due: cargo-check, clippy

feat(init): Scaffold tools/ with atomic file writes and refuse-without-force
  src/bin/toolr/init_scaffold.rs
  src/bin/toolr/main.rs
  src/bin/toolr/project.rs
Due: cargo-check, clippy

feat(cli): Skeleton toolr project init subcommand
  specs/rust-front-end/01-roadmap.md
  src/bin/toolr/cli.rs
  src/bin/toolr/project.rs
Due: cargo-check, clippy

feat(init): Add scaffold template files and render helpers
  src/bin/toolr/init_templates.rs
  src/bin/toolr/init_templates/example.py.tmpl
  src/bin/toolr/init_templates/gitignore.tmpl
  src/bin/toolr/init_templates/pyproject.toml.tmpl
  src/bin/toolr/main.rs
Due: cargo-check, clippy

feat(init): Fill in example.py with four ctx-exercising commands
  src/bin/toolr/init_templates.rs
  src/bin/toolr/init_templates/example.py.tmpl
Due: cargo-check, clippy

docs(roadmap): Mark Plan 10 as done
  specs/rust-front-end/12-plan-10-project-init.md
Due: none

test(init): End-to-end integration tests for toolr project init
  tests/project_init.rs
Due: cargo-check, clippy

docs: Roadmap entry + nav skeleton for the docs overhaul
  docs/cli.md
  docs/concepts.md
  docs/internals/cache.md
  docs/internals/diagnostics.md
  docs/internals/index.md
  docs/internals/manifest.md
  docs/internals/pre-commit.md
  docs/project-config.md
  docs/quickstart.md
  docs/third-party.md
  docs/writing-commands/annotations.md
  docs/writing-commands/arguments.md
  docs/writing-commands/context.md
  docs/writing-commands/docstrings.md
  docs/writing-commands/groups.md
  docs/writing-commands/index.md
  docs/writing-commands/nesting.md
  mkdocs.yml
  specs/rust-front-end/01-roadmap.md
Due: update-doc-stubs

docs(plans): Write Plan 10 (project init) and Plan 11 (docs overhaul)
  specs/rust-front-end/12-plan-10-project-init.md
  specs/rust-front-end/13-plan-11-docs-overhaul.md
Due: none

docs(spec): Relocate regen-doc-snippets to .pre-commit-hooks/ and link issue #191
  specs/rust-front-end/11-docs-overhaul-and-project-init-design.md
Due: none

docs: Third-party packages page (static manifest convention + toolr.build)
  docs/third-party.md
Due: update-doc-stubs

docs: Concepts page (orientation tour of toolr's moving pieces)
  docs/concepts.md
Due: update-doc-stubs

docs(tooling): Add regen-doc-snippets script + sample-repo fixture
  .pre-commit-hooks/regen-doc-snippets.py
  docs/.fixtures/README.md
  docs/.fixtures/sample-repo/tools/example.py
  docs/.fixtures/sample-repo/tools/pyproject.toml
  docs/quickstart-files/example-hello.txt
  docs/quickstart-files/example-help.txt
  docs/quickstart-files/example-setlog-help.txt
  docs/quickstart-files/toolr-help.txt
  pyproject.toml
Due: update-doc-stubs

docs: CLI reference (single page, every subcommand documented uniformly)
  .pre-commit-hooks/regen-doc-snippets.py
  docs/cli-files/project-deps-sync-help.txt
  docs/cli-files/project-init-help.txt
  docs/cli-files/project-manifest-rebuild-help.txt
  docs/cli-files/project-venv-path-help.txt
  docs/cli-files/project-venv-shell-help.txt
  docs/cli-files/self-build-manifest-help.txt
  docs/cli-files/self-cache-list-help.txt
  docs/cli-files/self-cache-prune-help.txt
  docs/cli-files/self-completion-install-help.txt
  docs/cli-files/self-completion-print-help.txt
  docs/cli-files/toolr-help.txt
  docs/cli.md
Due: update-doc-stubs

docs: Project configuration page (tools/pyproject.toml + venv model)
  docs/project-config.md
Due: update-doc-stubs

docs: Writing commands chapter (port old usage + examples, restructure)
  .pre-commit-hooks/regen-doc-snippets.py
  docs/examples/index.md
  docs/usage/index.md
  docs/writing-commands/annotations.md
  docs/writing-commands/arguments.md
  docs/writing-commands/context.md
  docs/writing-commands/docstrings.md
  docs/writing-commands/files/calculator-add-help.txt
  docs/writing-commands/files/calculator.py
  docs/writing-commands/files/context-hello.txt
  docs/writing-commands/files/docstrings-example.py
  docs/writing-commands/files/example.py
  docs/writing-commands/files/files-list.py
  docs/writing-commands/files/files-star-args.py
  docs/writing-commands/files/flags-example.py
  docs/writing-commands/files/function-name-conversion.py
  docs/writing-commands/files/groups-example.py
  docs/writing-commands/files/hello-help.txt
  docs/writing-commands/files/hello.py
  docs/writing-commands/files/literal-choices-help.txt
  docs/writing-commands/files/literal-choices.py
  docs/writing-commands/files/mutually-exclusive-1.py
  docs/writing-commands/files/mutually-exclusive-2.py
  docs/writing-commands/files/nesting-example.py
  docs/writing-commands/files/system.py
  docs/writing-commands/groups.md
  docs/writing-commands/index.md
  docs/writing-commands/limitations.md
  docs/writing-commands/nesting.md
  mkdocs.yml
  specs/rust-front-end/13-plan-11-docs-overhaul.md
Due: update-doc-stubs

docs: Quickstart page (install → init → run)
  docs/quickstart.md
Due: update-doc-stubs

docs: Internals chapter (manifest layers, cache, pre-commit, diagnostics)
  docs/internals/cache.md
  docs/internals/diagnostics.md
  docs/internals/index.md
  docs/internals/manifest.md
  docs/internals/pre-commit.md
Due: update-doc-stubs

docs: Rewrite installation page with new install matrix + SLSA section
  docs/installation/index.md
Due: update-doc-stubs

feat(types): toolr.types namespace + rust SupportedType resolver foundation
  Cargo.lock
  Cargo.toml
  python/toolr/types/__init__.py
  src/parser/mod.rs
  src/parser/types.rs
  tests/test_types_module.py
Due: update-doc-stubs, cargo-check, clippy

feat(args): list[T] / *args support, bool=False flags, hyphenated flags, msgspec coercion
  docs/quickstart-files/example-setlog-help.txt
  docs/writing-commands/files/hello-help.txt
  docs/writing-commands/files/literal-choices-help.txt
  python/toolr/_runner.py
  src/bin/toolr/cli.rs
  src/complete/engine.rs
  src/execute/build.rs
  src/manifest/model.rs
  src/parser/signatures.rs
Due: update-doc-stubs, cargo-check, clippy

docs: Rename writing-commands/limitations.md → known-bugs.md
  .pre-commit-hooks/regen-doc-snippets.py
  docs/writing-commands/arguments.md
  docs/writing-commands/index.md
  docs/writing-commands/known-bugs.md
  docs/writing-commands/limitations.md
  mkdocs.yml
Due: update-doc-stubs
