Repository s0undt3ch/ToolR: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-stubs, cargo-check, clippy

.pre-commit-config.yaml:

---
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: trailing-whitespace   # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending     # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer     # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict  # Check for files that contain merge conflict strings.
      - id: check-ast             # Simply check whether files parse as valid python.

  - repo: local
    hooks:
      - id: update-doc-stubs
        name: Update reference documentation stubs
        language: system
        entry: python .pre-commit-hooks/ref-doc-stubs.py
        files: ^(docs/.*\.md|python/toolr/.*\.py)$
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.16
    hooks:
      - id: uv-lock

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.13.0"
    hooks:
      - id: ruff-format
      - id: ruff-check
        alias: ruff
        args:
          - --fix
        exclude: .pre-commit-hooks/.*\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Run mypy against the code base
        files: ^(python/|tests/).*\.py$
        exclude: ^tests/support/coverage/.*\.py$
        args: []
        additional_dependencies:
          - attrs
          - pytest
          - rich
          - rich-argparse
          - msgspec
          - docstring-parser

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.words.ignore
        additional_dependencies:
          - tomli

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2
        args:
          - --config=.markdownlint.yaml
          - --fix

  - repo: local
    hooks:
      # Does it compile?
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

docs(third-party): drop Python build references; add static-only contract
  docs/third-party.md
Due: update-doc-stubs

build: add similar crate for unified-diff output in --check mode
  Cargo.lock
  Cargo.toml
  crates/toolr/Cargo.toml
Due: none

docs(reference): drop stale build.md link after toolr.build removal
  docs/reference/index.md
Due: update-doc-stubs

feat(toolr-py): remove Python toolr.build module
  crates/toolr-py/python/toolr/__init__.py
  crates/toolr-py/python/toolr/build.py
Due: none

docs: clean up stale --python references and refresh CLI help snippets
  crates/toolr/src/dispatch.rs
  docs/cli-files/self-build-manifest-help.txt
  docs/cli.md
  docs/quickstart-files/example-help.txt
  docs/reference/build.md
  mkdocs.yml
Due: update-doc-stubs, cargo-check, clippy

test(toolr): drop obsolete --python error-path test from cli_smoke
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy

ci: use --source-dir for the example-plugin manifest sync check
  .github/workflows/_test.yml
Due: none

deploy: 7d62699f6327a8fa33e85b65fa8583cfcbd231d4
  changelog/index.html
  internals/manifest/index.html
  reference/build/index.html
  reference/testing/index.html
  search/search_index.json
  sitemap.xml.gz
  third-party/index.html
Due: none

fix(parser): skip dot-prefixed directories in list_python_files
  crates/toolr-core/src/parser/build.rs
Due: cargo-check, clippy

ci: skip toolr-plugin-example in test-job uv sync
  .github/workflows/_test.yml
Due: none

ci: force LF line endings for *.json across all checkouts
  .gitattributes
Due: none

ci: build toolr-plugin-example once and share via wheelhouse
  .github/workflows/_test.yml
  .github/workflows/_test_distribution.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tests/distribution/conftest.py
  tests/distribution/test_example_plugin_contract.py
Due: none

ci: Some workflow organization
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Do we drop the header?
  .github/workflows/_prepare-release.yml
Due: none

ci: Show OS display name
  .github/workflows/_build-binary-archive.yml
  tools/ci.py
Due: none

deploy: 3c6f5be44fc10dc173dc7529ec7c2514cfdbde5d
  404.html
  changelog/index.html
  cli-files/self-build-manifest-help.txt
  cli/index.html
  concepts/index.html
  contributing/index.html
  index.html
  installation/index.html
  installation/mise/index.html
  internals/cache/index.html
  internals/diagnostics/index.html
  internals/index.html
  internals/manifest/index.html
  internals/pre-commit/index.html
  migration/index.html
  objects.inv
  project-config/index.html
  quickstart-files/example-help.txt
  quickstart/index.html
  reference/arg/index.html
  reference/arg_section/index.html
  reference/build/index.html
  reference/command/index.html
  reference/command_group/index.html
  reference/context/index.html
  reference/index.html
  reference/testing/index.html
  search/search_index.json
  third-party/index.html
  writing-commands/across-files/index.html
  writing-commands/annotations/index.html
  writing-commands/arguments/index.html
  writing-commands/context/index.html
  writing-commands/docstrings/index.html
  writing-commands/groups/index.html
  writing-commands/index.html
  writing-commands/known-bugs/index.html
  writing-commands/nesting/index.html
Due: none

docs(specs): repo presentation pass design
  specs/2026-05-22-repo-presentation-pass-design.md
Due: none

docs(specs): give each install path first-class treatment
  specs/2026-05-22-repo-presentation-pass-design.md
Due: none

docs(specs): lead the install section with mise
  specs/2026-05-22-repo-presentation-pass-design.md
Due: none

docs(specs): reorder install section to mise, pip, curl|sh, powershell, gh
  specs/2026-05-22-repo-presentation-pass-design.md
Due: none

docs(specs): repo presentation pass implementation plan
  specs/2026-05-22-repo-presentation-pass-plan.md
Due: none

docs(writing-commands): scope the deprecation admonition to the subgroup method form
  docs/writing-commands/index.md
Due: update-doc-stubs

docs(writing-commands): use dotted-string form in the nested-groups bullet
  docs/writing-commands/known-bugs.md
Due: update-doc-stubs

docs(internals): correct the third_party_hash File-shape bullet
  docs/internals/manifest.md
Due: update-doc-stubs

docs(internals): drop entry-points discovery from the dynamic layer
  docs/internals/manifest.md
Due: update-doc-stubs

docs(internals): align the hashing-details third_party_hash entry
  docs/internals/manifest.md
Due: update-doc-stubs

docs(dynamic): remove stale entry-points reference in DynamicPayload
  crates/toolr-core/src/dynamic/payload.rs
Due: cargo-check, clippy

docs(urls): point at toolr.readthedocs.io/latest for published docs
  crates/toolr-py/python/toolr/_decorators.py
  installation/mise/README.md
Due: none

tools(bench): add task-runner startup-time comparison
  tools/bench.py
Due: none

docs(readme): rewrite around the Rust front-end value-prop
  README.md
  docs/index.md
Due: update-doc-stubs

deploy: dad48f6c1a28c74d77817a4771502ba8aa45629c
  changelog/index.html
  internals/manifest/index.html
  search/search_index.json
  sitemap.xml.gz
  writing-commands/index.html
  writing-commands/known-bugs/index.html
Due: none

docs: CONTRIBUTING rewrite + point README links at toolr.readthedocs.io/latest
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: update-doc-stubs

docs(specs): document the live-vs-archive split
  specs/README.md
Due: none

chore(specs): archive shipped rust-front-end design tree
  specs/archive/2026/rust-front-end/00-design.md
  specs/archive/2026/rust-front-end/01-roadmap.md
  specs/archive/2026/rust-front-end/02-plan-1-rust-skeleton.md
  specs/archive/2026/rust-front-end/03-plan-2-runner-execute.md
  specs/archive/2026/rust-front-end/04-plan-3-venv-uv.md
  specs/archive/2026/rust-front-end/05-plan-4-completion.md
  specs/archive/2026/rust-front-end/06-plan-5-static-third-party.md
  specs/archive/2026/rust-front-end/07-plan-6-dynamic-manifest.md
  specs/archive/2026/rust-front-end/08-plan-7-missing-deps.md
  specs/archive/2026/rust-front-end/09-plan-8-cache.md
  specs/archive/2026/rust-front-end/10-plan-9-distribution.md
  specs/archive/2026/rust-front-end/11-docs-overhaul-and-project-init-design.md
  specs/archive/2026/rust-front-end/12-plan-10-project-init.md
  specs/archive/2026/rust-front-end/13-plan-11-docs-overhaul.md
  specs/archive/2026/rust-front-end/14-workspace-split-design.md
  specs/archive/2026/rust-front-end/15-plan-12-workspace-split.md
  specs/archive/2026/rust-front-end/followups/2026-05-14-rich-argparse-dependency.md
Due: none

chore(specs): archive the nine top-level shipped design and plan files
  specs/archive/2026/2026-05-18-keep-bound-command-decorator-design.md
  specs/archive/2026/2026-05-19-external-command-sources-design.md
  specs/archive/2026/2026-05-19-external-command-sources-plan-a.md
  specs/archive/2026/2026-05-19-fill-the-gaps-design.md
  specs/archive/2026/2026-05-19-fill-the-gaps-plan.md
  specs/archive/2026/2026-05-21-dispatch-manifest-freshness-design.md
  specs/archive/2026/2026-05-21-dispatch-manifest-freshness-plan.md
  specs/archive/2026/2026-05-22-rust-build-manifest-design.md
  specs/archive/2026/2026-05-22-rust-build-manifest-plan.md
Due: none

chore(specs): repair in-tree references to moved spec paths
  crates/toolr-core/src/build_fragment.rs
  crates/toolr-py/python/toolr/_introspect.py
  crates/toolr/src/bootstrap.rs
  docs/internals/index.md
Due: update-doc-stubs, cargo-check, clippy

chore(docs): delete the dead .nav.yml
  docs/.nav.yml
Due: none

chore(tools): drop tools/__init__.py to match documented PEP 420 model
  tools/__init__.py
Due: none

chore(toolr): drop rich-argparse comparison comments
  crates/toolr/src/cli.rs
  crates/toolr/src/markdown.rs
Due: cargo-check, clippy

fix(dispatch): emit clear error when tools venv python is missing
  crates/toolr/src/dispatch.rs
  crates/toolr/tests/cli_smoke.rs
Due: cargo-check, clippy
